[2013-09-22 18:53] #580 closed, assigned to ebensing

[2013-09-22 21:34] kyleparry opened #637 "Tags disappear + Tags not saved"
- I add tags to an item that already has tags, return to the item and all tags are gone
- I add tags to an items without any tags, return it and no tags visible

[2013-09-22 21:38] ebensing commented on #637
So, generally what happens here is it takes about 5 minutes or so before the new tags are updated in the cache. Probably something we should say somewhere, but I don't think there is any scalable way to make everything instantaneous.

[2013-09-22 21:40] kyleparry commented on #637
Interesting - I've returned to items tagged yesterday and they don't have
any.

On Sun, Sep 22, 2013 at 5:38 PM, E.J. Bensing notifications@github.comwrote:

[2013-09-22 21:43] corinnecurcie commented on #577
Sorry, I'm not sure exactly what you mean. Isn't clicking the tag supposed
close the popup to bring up a search for the tag? That's what it's doing on
my end.

On Thu, Sep 12, 2013 at 6:00 PM, nickkapur notifications@github.com wrote:

##

Corinne Curcie
Harvard University
Class of 2015
Computer Science

[2013-09-22 21:47] #559 closed, assigned to ebensing

[2013-09-22 21:48] #564 closed, assigned to ebensing

[2013-09-22 22:29] #637 closed, assigned to nobody

[2013-09-23 02:03] nickkapur commented on #577
@corinnecurcie Thanks for the reply. Okay so I've tested this out in different browsers and machines. In both Chrome and Firefox on the Windows 7 machine in my office, and in Chrome on my Macbook, when I click on the tag I can see that it pulls up the correct search, but the popup is not closed out. Instead the popup remains until I close out of it manually. The only time the popup closes out is i

[2013-09-23 02:04] nickkapur commented on #577
Come to think, maybe I need to clear out the cache? I'm pretty sure I did that, but let me try again and get back to you.

[2013-09-23 02:06] nickkapur commented on #577
Okay, nevermind, it works!  Yet another object lesson for me about the need to clear the cache every. single. time. Sorry about the confusion - my bad.

[2013-09-23 02:06] #577 closed, assigned to corinnecurcie

[2013-09-23 02:12] nickkapur opened #638 "Tweets :: Clicking on Twitter hashtags yields error message"
"The Twitter REST API v1 is no longer active. Please migrate to API v1.1.
https://dev.twitter.com/docs/api/1.1/overview"

We need to switch to the new API.

[2013-09-23 12:46] #552 closed, assigned to corinnecurcie

[2013-09-23 12:46] #620 closed, assigned to corinnecurcie

[2013-09-23 12:46] #625 closed, assigned to corinnecurcie

[2013-09-23 19:32] kyleparry opened #640 "Can't x out of previews of website items added via bookmarklet in any browser - when clicking x we get "Uncaught TypeError: Cannot read property 'pop' of undefined""

[2013-09-24 16:08] annawada commented on #625
It loos like the Tumblr icon isn't showing up on my Chrome browser - instead there's a gray square next to the Facebook icon.
![tumblr screenshot](https://f.cloud.github.com/assets/4721986/1201354/88e0aef0-2533-11e3-9230-273e734d2149.jpg)

[2013-09-24 20:25] corinnecurcie commented on #625
Sorry, the logo didn't get added when I pushed. E.J. I just pushed the file and submitted a pull request - can you merge it in? I will make sure to use a personal fork next time, this was just a quick fix.

[2013-09-24 21:50] nickkapur opened #643 "Map Layers :: Need to add ability to scroll"
@corinnecurcie map layers looks good and layers work well, but we need to add some ability to scroll in order to access layers which are off the screen in most resolutions. We might consider adding collapsable menus or similar in the medium to long term but in the short term we definitely need the ability to scroll.

[2013-09-25 16:34] kyleparry opened #645 "Ability to delete tags? Not sure if we've covered this"

[2013-09-25 16:39] kyleparry opened #646 "Have to click arrow twice to advance from preview of one item to the next"

[2013-09-26 18:09] ebensing commented on #600
I can see this in the data, but not able to reproduce. can you do it again and list the exact steps to reproduce this error?

[2013-09-26 18:19] ebensing commented on #571
What should "Submit Translation" be?

[2013-09-27 08:05] nickkapur commented on #646
@kyleparry You are talking about the javascript popup, right? If so, I'm unable to reproduce this error. Which browser are you using?

[2013-09-27 08:08] nickkapur commented on #571
@ebensing Good point. Let me check with our localization team and get back to you on this.

[2013-09-27 08:17] nickkapur commented on #645
@kyleparry Tags can be deleted on the backend through the admin interface. Do you mean deleting them on the front end? We discussed this at some point, and decided against allowing it.

[2013-09-27 13:08] kyleparry commented on #646
Yes - the popup. In Chrome. Take this collection for instance:
http://jdarchive.org/en/collection/884962

I click the first item then click either arrow (or press the left or right
key) and it doesn't advance. Press again and it does.

Looking at the Console - if it doesn't advance (from the perspective of the
user) it's actually just reloading that same item in the 'fancybox' as the
code calls it

[2013-09-27 13:09] kyleparry commented on #645
Yes - do mean front-end. Is the idea to protect tags? I am just wondering about errors of entry, whether typos or mistranslations or misidentification. Seems like if you are logged in you should at least be able to delete tags you've generated - but I imagine yoking user IDs to individuals tags isn't so pretty.

[2013-09-27 14:31] ebensing commented on #645
yah, they currently are not linked to userIds and supporting such a system would be a little annoying given the current technology on the site.

[2013-09-27 16:45] ebensing commented on #585
add some documentation

[2013-09-27 16:46] ebensing commented on #603
look into the document cloud stuff

[2013-09-27 17:32] nickkapur commented on #571
@ebensing "Submit Translation" should just be 翻訳する, and "Submit" should be 投稿

[2013-09-27 17:32] nickkapur commented on #571
Or we can just leave "Submit" as "Submit" as we have done elsewhere...

[2013-09-27 17:42] nickkapur commented on #629
As discussed, let's put a check box to the left of the sort drop-down

[2013-09-27 21:01] nickkapur commented on #646
Okay, I've confirmed this issue! Thanks for the further explanation. We'll get this fixed.

[2013-09-27 21:04] kyleparry commented on #646
My computer isn't a freak! Woo!

On Fri, Sep 27, 2013 at 5:01 PM, nickkapur notifications@github.com wrote:

[2013-09-29 04:28] #571 closed, assigned to ebensing

[2013-09-29 18:45] nickkapur opened #650 "Make text pages editable by any logged in user with admin privileges?"
As we look ahead to getting the site set up for longterm maintenance, I'd like to consider what would be required to set up text pages so that even someone with no specialized knowledge could easily make changes to website text directly from the frontend. Let's discuss.

[2013-09-29 18:56] nickkapur opened #651 "New how-to text on sorting feature"

[2013-10-01 02:56] ebensing commented on #600
@nickkapur any chance we can close this?

[2013-10-01 19:56] nickkapur commented on #600
Yeah, I can't reproduce this either so closing for now.

[2013-10-01 19:56] #600 closed, assigned to ebensing

[2013-10-01 19:58] nickkapur opened #653 "What would be required to scrape contents of English site of Sendai Mediateque?"
Andy wants to bring the contents on this site into our archive: http://recorder311-e.smt.jp/

He wants an assessment of what it would take and how much effort would be required.

[2013-10-02 22:12] #629 closed, assigned to ebensing

[2013-10-03 00:19] nickkapur opened #654 "Advanced Search :: add ability to exclude search terms"

[2013-10-04 18:46] ebensing commented on #653
@nickkapur what does he want these items imported as? Should they be as websites or should they be the media type that they actually are? (image, video, ect)

Importing them as simple websites is pretty straightforward. If we want to do it as their native media types though, it'll be a slightly more involved script (nothing _too_ bad, but definitely take some more time)

[2013-10-05 00:48] #570 closed, assigned to nobody

[2013-10-05 00:48] #599 closed, assigned to nobody

[2013-10-05 05:07] nickkapur opened #658 "Accidentally turned collection into video"
Koko made a collection called "Blog: Finding the Missing Link" (item 1538781). In the title of the collection, "Missing" was missing the "g" at the end, so I went into the admin interface, located the collection, and edited the title to add the missing "g." Thereupon, the collection stopped showing up in collections and started showing up in search as if it were a video. I'm not sure why this is a

[2013-10-08 15:54] kyleparry opened #663 "Feature: Add item to collection from item page? / Corollary Question: What do 'sources' link to in presentations?"
- Fellow user sends me a link to an item (or several items) they think I'm interested in and I want to add it to a collection directly from the item page.
- I click 'view source' on an item in a presentation that I want for my own collection/presentation. If that link takes me to the item page (e.g., http://jdarchive.org/en/item/272491) I want to be able to add the item with a click. This raises t

[2013-10-11 01:42] #643 closed, assigned to corinnecurcie

[2013-10-11 02:25] ebensing commented on #646
@kyleparry @nickkapur the only way I'm able to reproduce this is if I click the first item, then go back (which is can't do because it is the first item) If I open the first item, then click the right arrow (or use keyboard) it works just fine.

Can you guys test again and see if it got fixed somewhere along the line?

[2013-10-11 02:45] #658 closed, assigned to ebensing

[2013-10-11 02:56] corinnecurcie commented on #646
It still needs two clicks to advance for every item, on my end.

[2013-10-11 03:10] ebensing commented on #646
bleh, looks like it is a chrome only issue then. I'll try and fix it this weekend unless you want to handle it @corinnecurcie

[2013-10-11 03:12] corinnecurcie commented on #646
It depends; have we found the import script yet? I've been poking around for it but can't find it. If I can get that, I'd rather update that so I can import the Tohoku stuff, but otherwise I can take care of this.

[2013-10-11 14:48] ebensing opened #668 "Handle PDF imports with bookmarklet"

[2013-10-11 17:20] nickkapur opened #669 "Some news headlines allegedly not showing up in search."
See Koko's emails.

[2013-10-11 17:21] nickkapur opened #670 "Test and set up chron job for map db sync script"

[2013-10-11 17:21] nickkapur opened #671 "Fix map layers scroll issue"

[2013-10-12 00:20] nickkapur opened #672 "Which parts of JDA would we rewrite/do differently if we were starting over from scratch?"
I'd like to keep this in mind and start to consider, because one of my long-term mandates is to try to make the JDA interface & platform into something we could easily export to other kinds of projects.

[2013-10-13 03:48] nickkapur commented on #640
I also can't x out of some older items that were not added by the bookmarklet...

[2013-10-13 03:53] nickkapur commented on #566
For example, item 1493421 is a youtube video submitted as media type "Video" but it does not display in the popup and the thumbnail in search is wrong. Compare this to one of the Sendai Mediateque videos like item 884812. They all display correctly, but in the admin interface everything is identical, so what's the difference here?

[2013-10-13 14:38] ebensing commented on #669
fixed this, it's something with SOLR again.

[2013-10-13 14:38] #669 closed, assigned to ebensing

[2013-10-14 03:58] ebensing commented on #603
Looks like we'll need to use DocumentCloud if we want to have them in the archive as "documents"

If we have an account, I'll need to login info. If not, creating a new one isn't a problem. I'll then create a bulk upload script so that we can upload the current PDFs and new ones as they come in.

@nickkapur any idea on old credentials?

[2013-10-14 13:42] kyleparry commented on #603
Just making sure you guys know we already have a few PDFs in archive as
docs. The login we used way back was mine:

http://www.documentcloud.org/login

<redacted>

On Sun, Oct 13, 2013 at 11:58 PM, E.J. Bensing notifications@github.comwrote:

[2013-10-14 14:17] ebensing commented on #603
awesome Kyle, thanks for the info. I've moved it from github because it seems a little bit like a bad idea to have it posted publicly, but I'll get it somewhere in the archive.

[2013-10-14 14:34] kyleparry commented on #603
woops - consider that a dull morning error!

On Mon, Oct 14, 2013 at 10:17 AM, E.J. Bensing notifications@github.comwrote:

[2013-10-15 13:58] nickkapur opened #674 "Exclude retweets :: ad ja localization"
リツイートを除く

[2013-10-15 15:41] nickkapur opened #675 "AJW :: Check for new data"

[2013-10-15 17:16] nickkapur opened #676 "Advance search :: add "Exclude Terms" ja localization"

[2013-10-15 20:23] nickkapur opened #677 "Add FAQ about clearing the cache"

[2013-10-16 21:44] nickkapur opened #678 "Map :: Map is down - figure out what is wrong"

[2013-10-17 00:30] annawada opened #679 "Advanced Search errors"
Tag and Start/End Date fields in the advanced search are not returning results (Using Chrome, Windows 7). The other fields, Search Terms and Content Type, are working properly for me.

[2013-10-17 03:30] nickkapur commented on #678
Todd took it down for maintenance and forgot to put it back up (!!!)

[2013-10-17 03:30] #678 closed, assigned to nickkapur

[2013-10-17 03:31] nickkapur commented on #679
@ebensing Can you take a look at this?

[2013-10-17 03:33] nickkapur opened #680 "About Page :: Revise text"
Remove typos and batshit phrasing.

[2013-10-17 14:12] kyleparry opened #681 "Map - Timeline half-hidden underneath search bar"
Happens in Chrome on my machine - yours too? Several students are working with the maps feature, so it'd be great if we could fix this soon.

[2013-10-17 15:02] nickkapur commented on #681
I never encountered this bug personally before, but I am able to replicate if I zoom out a bunch. Indeed this should be fixed.

[2013-10-17 15:03] nickkapur commented on #681
@kyleparry So we'll definitely fix this, but for the time being, can be partially resolved on an individual basis by zooming in...

[2013-10-17 15:13] kyleparry commented on #681
Totally fixes the issue - no need to make this a priority - thanks

On Thu, Oct 17, 2013 at 11:03 AM, nickkapur notifications@github.comwrote:

[2013-10-21 00:09] nickkapur opened #683 "Prepare report for E.J. on pdf number and sizes"

[2013-10-21 18:44] nickkapur opened #684 "Collections :: Ability to reorder items in a collection (drag & drop)"

[2013-10-21 18:45] nickkapur opened #685 "Collections :: Ability to annotate individual items in a collection"

[2013-10-22 01:21] ebensing commented on #670
@nickkapur do you have the files Todd sent over?

[2013-10-22 03:32] ebensing commented on #653
I'm going to go ahead and close this. I think we should just open a new ticket when we actually decide to do this.

[2013-10-22 03:32] #653 closed, assigned to ebensing

[2013-10-22 03:55] ebensing commented on #670
Just set this up. It should run once a day now. For reference, the script lives in the "map" directory of the private scripts repository

[2013-10-22 03:55] #670 closed, assigned to ebensing

[2013-10-22 22:24] nickkapur opened #687 "Translation for untranslated line on partners page"

[2013-10-22 22:28] nickkapur opened #688 "Translations not sticking again"
Koko reports translations are not sticking again. Tested and confirmed.

[2013-10-22 22:29] nickkapur opened #689 "Translate This :: Cannot use arrow keys in translation text box"
Trying to use arrow keys while translating in order to fix a typo instead moves you to the next or previous item in search.

[2013-10-24 02:05] nickkapur opened #690 "Map :: non-published items show up in the map search"

[2013-10-24 02:09] nickkapur opened #691 "Website creation date localization"

[2013-10-24 15:45] #654 closed, assigned to ebensing

[2013-10-24 18:24] #679 closed, assigned to ebensing

[2013-10-25 16:09] #671 closed, assigned to corinnecurcie

[2013-10-25 19:27] nickkapur commented on #631
Not sure how important this is. Closing for now.

[2013-10-25 19:27] #631 closed, assigned to nobody

[2013-10-25 19:30] #562 closed, assigned to nobody

[2013-10-25 19:38] nickkapur opened #692 "Consider feasibility of switching backend over to MongoDB"

[2013-10-25 19:49] nickkapur opened #693 "Team Page :: Add ja translation and Ryo Morimoto"

[2013-10-25 21:09] ebensing opened #694 "test issue"
you can ignore this, I'm debugging something

[2013-10-25 21:21] #694 closed, assigned to nobody

[2013-10-25 21:23] ebensing opened #695 "last test issue"
hopefully?

[2013-10-25 21:23] #695 closed, assigned to ebensing

[2013-10-25 21:24] ebensing opened #696 "really last one"
spoke too soon...

[2013-10-25 21:24] #696 closed, assigned to ebensing

[2013-10-25 22:02] nickkapur opened #697 "About Page :: full localization"

[2013-10-26 22:32] corinnecurcie commented on #640
I'm trying to recreate this but having trouble: where is the preview coming from? Are you previewing it from the collection page, or your user page, or somewhere else? Any additional info would be helpful.

[2013-10-28 03:49] #585 closed, assigned to nickkapur

[2013-10-28 03:49] #651 closed, assigned to nickkapur

[2013-10-28 03:49] #674 closed, assigned to nickkapur

[2013-10-28 03:49] #680 closed, assigned to nickkapur

[2013-10-28 03:49] #691 closed, assigned to nickkapur

[2013-10-28 03:49] #693 closed, assigned to nickkapur

[2013-10-29 00:38] #688 closed, assigned to ebensing

[2013-11-01 01:30] #689 closed, assigned to ebensing

[2013-11-01 04:39] nickkapur opened #701 "Import Fukushima Archive Data"

[2013-11-01 04:59] #683 closed, assigned to nickkapur

[2013-11-01 05:02] nickkapur commented on #677
I've decided not to do this for now. Closing for the moment.

[2013-11-01 05:02] #677 closed, assigned to nickkapur

[2013-11-03 18:49] ebensing commented on #603
done!

[2013-11-03 18:49] #603 closed, assigned to ebensing

[2013-11-04 03:43] #624 closed, assigned to corinnecurcie

[2013-11-04 05:31] corinnecurcie commented on #640
@nickkapur @kyleparry Hey, can you guys describe exactly where you're getting this? I added items via the bookmarklet, got them to popup from the "my collection" page, and then closed out of them fine. How are you previewing these website items?

[2013-11-04 06:13] #646 closed, assigned to ebensing

[2013-11-06 20:54] #529 closed, assigned to corinnecurcie

[2013-11-06 20:54] #581 closed, assigned to corinnecurcie

[2013-11-06 20:54] #545 closed, assigned to corinnecurcie

[2013-11-07 18:39] nickkapur opened #704 "PDFs: Email Konrad about missing pdfs"

[2013-11-07 19:03] nickkapur opened #705 "Bookmarklet :: integrate bookmarklet into site"

[2013-11-09 15:09] ebensing commented on #692
Not really worth it at this point. A lot of extra work and we'd still be using SOLR.

[2013-11-09 15:09] #692 closed, assigned to ebensing

[2013-11-12 01:52] #519 closed, assigned to ebensing

[2013-11-12 19:37] nickkapur opened #707 "Email Tohoku People about image issue"

[2013-11-21 19:22] nickkapur opened #708 "User page images for all content partners"

[2013-11-21 19:28] nickkapur opened #709 "Way to save images to S3 on the back end."

[2013-11-21 19:31] nickkapur commented on #705
@ebensing Andy wants this done by the trip to Sendai at the beginning of January, FYI.

[2013-12-03 15:25] annawada opened #711 "Map - Items not showing up"
Red dots are not showing up on the map, and date search reverts to "December 31, 10" regardless of the date selected on calendar.

[2013-12-04 18:30] ebensing opened #712 "Content :: Import JapanFocus Data"
The API is ready

The Requests need to be sent here

http://japanfocus.org/site/list_xml

We accept the following  parameters :
   'start' - start number
   'limit' - request limit
   'start_id' - id bigger than
   'end_id' -id smaller than
   'publication_date_start' - start publication date
   'publication_date_end' -end publication date

The Parameters have to be sent over POST or GET.

System

[2013-12-13 18:31] ebensing commented on #690
Todd needs to update the JDA script, this is an issue with items that have published=0 being sent to the map server when they are not supposed to.

[2014-01-11 07:43] nickkapur commented on #711
Issue has been resolved on CGA side.

[2014-01-11 07:43] #711 closed, assigned to nobody

[2014-01-11 07:45] nickkapur opened #717 "Many Japanese users are still trying to access our site using Internet Explorer"
As per Google Analytics.

We may need to reconsider our policy of only supporting Firefox and Chrome.

[2014-01-11 07:59] corinnecurcie opened #718 "Can't drag items to own collection sometimes"

[2014-01-12 15:27] annawada opened #719 "Collections: Unable to add cover image and delete items"
The "add image" box doesn't appear at the top of Collections editing page ; item "delete" buttons are overlapping with icons, making it difficult to delete items. (Chrome browser)

[2014-01-14 04:34] nickkapur commented on #719
@annawada Hi Anna! Unfortunately I've been unable to replicate these issues. However, we have made some changes to how collections work, recently. Have you tried clearing your browser cache?

[2014-01-14 04:34] nickkapur commented on #707
Done.

[2014-01-14 04:34] #707 closed, assigned to nickkapur

[2014-01-14 04:35] nickkapur opened #720 "Team Page :: Japanese localization"
Already localized in google doc.

[2014-01-15 15:33] annawada commented on #719
Hi Nick,

I had tried clearing the cache last week, but now it seems to be working
fine! I can add the cover image, although the delete buttons are still
overlapping with the website icons (a minor inconvenience).

On Mon, Jan 13, 2014 at 11:34 PM, nickkapur notifications@github.comwrote:

##

Program Associate
North American Coordinating Council on Japanese Library Resources
Website: http://www.n

[2014-01-24 03:05] nickkapur opened #721 "Team Page :: Corinne as Tech Lead"

[2014-01-27 21:54] #676 closed, assigned to nickkapur

[2014-01-27 21:54] #687 closed, assigned to nickkapur

[2014-01-27 21:54] #697 closed, assigned to nickkapur

[2014-01-27 21:54] #721 closed, assigned to nickkapur

[2014-01-30 17:53] nickkapur opened #723 "Japan Focus Article"

[2014-02-06 17:59] nickkapur opened #724 "Bookmarklet :: add scope and time"

[2014-02-06 18:00] nickkapur opened #725 "Bookmarklet :: comma separation in tags only works in English"

[2014-02-06 18:00] #705 closed, assigned to corinnecurcie

[2014-02-06 18:01] nickkapur opened #726 "Bookmarklet :: localize bookmarklet into Japanese"

[2014-02-06 18:11] nickkapur opened #727 "Item table :: what is "location" field for?"

[2014-02-06 18:11] nickkapur opened #728 "Admin interface :: add user number sort in users view"

[2014-02-06 18:13] nickkapur opened #729 "311 Memories Headlines :: Add Solr reset into workflow"

[2014-02-14 19:02] annawada opened #732 "Map :: Sections of map not loading"
![map](https://f.cloud.github.com/assets/4721986/2174044/7a251774-95aa-11e3-9c71-9e1380298975.jpg)

[2014-02-19 03:51] nickkapur commented on #732
I have been able to reproduce this error. So strange! We'll definitely have to take a look.

[2014-02-20 17:36] nickkapur commented on #727
Pretty sure this is doing nothing. Let's make sure and then get rid of it.

[2014-02-20 17:42] nickkapur commented on #725
Let's not use comma separation - let's use the container we use on the website submission page

[2014-02-20 17:47] #701 closed, assigned to corinnecurcie

[2014-02-20 17:48] nickkapur commented on #685
This will be part of Waku

[2014-02-20 17:48] #685 closed, assigned to nobody

[2014-02-20 17:48] nickkapur commented on #684
Part of Waku plan

[2014-02-20 17:48] #684 closed, assigned to nobody

[2014-02-20 18:37] annawada opened #733 "Feature :: Ability to select multiple items to insert into collections"
Right now you need to drag&drop individual items into the collection box, which gets quite tedious when your search turns up 50+ relevant items.

[2014-02-20 18:42] annawada opened #734 "Collections :: Unable to open collection in new tab"
If you try to open a collection in a new tab, it resets to the main search page.
A minor issue, but it would be convenient to be able to open multiple collections at once.

[2014-02-20 21:24] nickkapur opened #735 "Map :: Add ability to add to collections from map item view"
People should be able to add items found on the map to one of their collections. There should be a button next to the "link→" button that gives a dropdown menu of that users collections when clicked.

[2014-02-20 21:26] nickkapur commented on #735
Here is a mockup:

![screen shot 2014-02-20 at 4 26 05 pm](https://f.cloud.github.com/assets/2294780/2223680/a9f19944-9a75-11e3-9984-d5134cee8261.png)

[2014-02-20 21:37] nickkapur opened #736 "Presentations :: Fully Integrate Presentations into Archive"
Presentation Editor needs to be integrated into JDA servers - both front end code and back and db

Public presentations should be viewable as thumbnails just like collections from a "Presentations" link in top bar just to the right of "Collections" link.

Will probably need to talk to Jessica about this. I can start that conversation.

[2014-02-20 21:38] nickkapur commented on #734
Confirmed the issue. We will fix this!

[2014-02-20 21:40] nickkapur commented on #719
Closing this for now

[2014-02-20 21:40] #719 closed, assigned to nobody

[2014-02-20 21:41] nickkapur commented on #709
We've moved on. Closing this for now.

[2014-02-20 21:41] #709 closed, assigned to nobody

[2014-02-20 21:51] nickkapur opened #738 "Content :: Add Watanave Data"

[2014-02-20 21:51] nickkapur opened #739 "Content :: Add Newest Asahi Japan Watch Data"

[2014-02-20 21:52] nickkapur opened #740 "Content :: Add Kahoku Shimpo Headlines and Articles"

[2014-02-20 21:52] nickkapur opened #741 "Content :: Add NPR Data"

[2014-02-20 21:53] nickkapur opened #742 "Content :: Scrape Higashi Matsushima Videos"

[2014-02-20 21:53] nickkapur opened #743 "Content :: Add Additional Sendai Mediateque Videos"

[2014-02-20 22:07] nickkapur commented on #638
Fixed!

[2014-02-20 22:07] #638 closed, assigned to corinnecurcie

[2014-02-24 03:42] #7 closed, assigned to nobody

[2014-02-24 03:45] #23 closed, assigned to nobody

[2014-02-24 03:45] #24 closed, assigned to nobody

[2014-02-24 03:46] #82 closed, assigned to nobody

[2014-02-24 03:46] #94 closed, assigned to nobody

[2014-02-24 03:47] #95 closed, assigned to nobody

[2014-02-24 03:50] #672 closed, assigned to nobody

[2014-02-24 04:02] nickkapur opened #746 "Michinoku Shinrokuden Images :: Thumbnails not showing"
The new Michinoku Shinrokuden images are not showing thumbnails in the JDA search. This is because the source is not a direct link to an image URL. Corinne, can you look whether or not there is a way to fix this, and then let's discuss further at our next meeting.

[2014-03-01 21:56] nickkapur opened #747 "Documentation :: draft how-to for presentation editor"

[2014-03-01 21:57] nickkapur commented on #732
This is possibly a problem with the mapbox account; we don't have the keys. I've contacted Zeega, still awaiting a response.

[2014-03-06 22:19] nickkapur commented on #578
@HakuG So our testimonials don't actually have a "source." Basically, we should make it so that if the item type is a testimonial, the view source link does not show up.

Let Corinne know if you have any questions.

[2014-03-06 22:22] nickkapur opened #749 "Testimonials :: Testimonial item page shows testimonial text in two or sometimes three places"
See, for example, http://jdarchive.org/en/item/706603

[2014-03-06 22:24] nickkapur opened #750 "Testimonials :: Testimonial item page has a link that says "View on JDA Testimonials" or sometimes "View Testimonial" that leads to a random item in the archive or sometimes nowhere"
Not sure what is going on here, but presumably these links should simply be eliminated.

[2014-03-07 07:42] #734 closed, assigned to HakuG

[2014-03-07 07:43] #732 closed, assigned to nickkapur

[2014-03-08 22:52] annawada opened #753 "Testimonial :: Testimonial pop-up lists author name as "Anonymous," even if the author name is listed on the Explore page"
Not an issue for all items - some of the item pop-ups do have the names properly listed.

[2014-03-10 21:09] annawada opened #754 "Bookmarklet ::: Unable to add items"
The "Add Media" button doesn't seem to be functioning on my Chrome or Firefox browsers.

[2014-03-14 20:23] #747 closed, assigned to annawada

[2014-03-14 20:25] nickkapur opened #755 "map :: map sync appears not to be working"
Using the slider bar, no new dots since October 2013.

EJ wrote an automated script to run Todd's update script every so often. Is this script active?

[2014-03-14 20:26] nickkapur opened #756 "Michinoku Shinrokuden Images :: new Michinoku photos have no location data in our archive"
When you click through to the source, they clearly have location data. However, this data appears not to have been imported into our archive, and these items do not show up on our map.

[2014-03-14 21:26] nickkapur commented on #526
I went ahead and took care of this. 3 or 4 email addresses could not be changed - admin interface kept returning an error message no matter what I tried - not sure why. But the rest are good to go.

[2014-03-14 21:26] #526 closed, assigned to nobody

[2014-03-16 19:33] HakuG commented on #123
I'm going to try to take this one. Shouldn't be too tough...

[2014-03-16 20:30] HakuG commented on #754
I'm going to try to take this one while I wait for confirmation on the others.

[2014-03-16 20:32] nickkapur commented on #640
I can't reliably reproduce this bug.

[2014-03-16 20:33] nickkapur commented on #582
At the very least, the existing translation should show on the item page. Let's make it so.

[2014-03-16 21:04] HakuG commented on #754
I can't log-in to my own jdarchive, and since I'm still sorta new, I'd rather have someone else work with the actual database to add new things, but the problem seems to be here: In src\JDA\CoreBundle\REsources\views\Widget\widget.html.twig,

<h3>Tags (comma separated):</h3>

[code]

You need to add a way to give tags. Currently, it's not even a textbox, so when you call "split" on it, you get a n

[2014-03-16 21:12] HakuG commented on #735
I'll try out this one!

[2014-03-16 21:19] nickkapur commented on #123
This is an ancient issue we haven't prioritized. Closing for now.

[2014-03-16 21:19] #123 closed, assigned to nobody

[2014-03-17 00:14] HakuG commented on #495
I'm not sure what this one wants, but let me know, and I can fix it. The user profile description box seems to be big enough..

[2014-03-17 15:36] jessyurko commented on #754
I can look into this this afternoon.

[2014-03-17 16:52] HakuG commented on #753
I'll check this one out.

[2014-03-17 18:55] HakuG commented on #750
I'll work on this one.

[2014-03-17 20:22] HakuG commented on #750
So it doesn't seem like I can even access these files? If I try to go to source-link on my dev website, I don't find the file, as in it doesn't exist for me. I'll get back to this one once I understand more from corinne.

[2014-03-17 20:24] HakuG commented on #724
I'll try to take this one, but what do you mean by "Scope and time"? I understand time as the time period it's referring to, but not scope...

[2014-03-17 21:05] jessyurko commented on #754
https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/commit/21852be1e8fd8c8d47ced31b74418aaec34a8eed#diff-d42a2cba7df482d8b025c35ee4950e98

I don't know the background on this change, but seems like the removal of the textarea in the commit above is where the error is coming from.

[2014-03-17 21:29] HakuG commented on #754
Yeah. That's what I was thinking too. I dont' have access to the real database, so I can't change anything though. The textarea shouldn't be removed...

[2014-03-17 22:04] HakuG commented on #632
I'm taking this one too.

[2014-03-17 22:05] HakuG commented on #555
I'll take this one.

[2014-03-17 22:14] HakuG commented on #555
Sometimes, the realname is still RIJS. Is that okay? I don't know what the goal of this one is.

[2014-03-17 23:17] HakuG commented on #756
Their img src is also wrong. It directs to the website instead of the image, and hence it doesn't show up. I think while downloading it, we forgot to attribute them to images and location data.

[2014-03-17 23:45] HakuG commented on #750
I've been trying to figure this one out for too long... Here's what I've obtained:

It's under multiple different queries, especially, outerHTML, outerText, pathname, innerHTML, innerText, and href. It's all combined to a thing in a file called jquery-1.7.1.min.js, which is a very disgusting looking file, with three lines of code for what seems to be tons of tons of tons of code. There's something

[2014-03-18 03:09] nickkapur commented on #555
@HakuG Yeah, if the realname is RIJS, than that's fine. Basically, we want to give credit to people who submitted stuff, wherever possible.

[2014-03-23 16:37] #537 closed, assigned to nobody

[2014-03-23 16:37] #555 closed, assigned to nobody

[2014-03-23 16:37] #578 closed, assigned to HakuG

[2014-03-23 16:37] #753 closed, assigned to nobody

[2014-03-23 22:21] kyleparry commented on #640
Not sure if it got corrected -- will let you know if I see it again...

On Sun, Mar 16, 2014 at 4:32 PM, nickkapur notifications@github.com wrote:

[2014-03-24 19:41] nickkapur commented on #632
@HakuG @corinnecurcie

This is not quite fixed yet. Look at the "Resurrection of Fukushima" colection currently on the front page - it's still spilling over. Reopening and reassigning to Harnek.

[2014-03-29 03:56] corinnecurcie commented on #756
@nickkapur - Take, for example, this image: http://search.shinrokuden.irides.tohoku.ac.jp/shinrokuden/uuid/6ef3da30-b2f6-11e2-8831-000c2923bf22?1#entity

Yes, location data shows up on their end. However, they do not have a "lat" and "long" anywhere in the XML data. The XML for this image can be found on this XML page, if you cmd+F "6ef3da30-b2f6-11e2-8831-000c2923bf22": http://search.shinrokuden.

[2014-04-17 04:59] karashen commented on #754
Corinne and I were working on the bug that existed with Japanese commas and were messing around with the tags part - we still haven't been able to figure this out, which is why the code is faulty.

[2014-04-17 06:00] nickkapur commented on #754
@karashen @corinnecurcie Well at the very least we should roll back the changes in the meantime so that the bookmarklet works the way it used to!

[2014-04-17 06:03] nickkapur opened #773 "Search Results are not displaying correctly"
results are shooting off the right side of the page, pushing the sort menu and date and collection details out of view.

http://jdarchive.org/en/search

[2014-04-17 20:19] ghost opened #776 "Testimonials:: text cut off in fancybox"
![screenshot](https://cloud.githubusercontent.com/assets/3960278/2736448/945456d4-c66d-11e3-9f05-e755911a15f8.png)

[2014-04-17 20:24] #112 closed, assigned to nobody

[2014-04-17 20:59] nickkapur opened #777 "User pages not showing up"
User pages are blank

[2014-04-17 21:02] nickkapur opened #778 "Registration not working"
Shows a blank box

[2014-04-17 21:05] nickkapur commented on #741
Go to http://www.npr.org/api/index for instructions.

You will need to register an account to use the API.

The things we want are everything that comes up after March 10, 2011 for two searches, "Japan Tsunami" and "Fukushima"

You want it to export in JSON format.

Work with @corinnecurcie  to import. Ideally we would import the sound files as sound files and the articles as news articles.

[2014-05-15 19:14] #773 closed, assigned to corinnecurcie

[2014-05-15 19:15] #778 closed, assigned to nobody

[2014-05-15 19:15] nickkapur commented on #754
I believe we have rolled back these changes.

[2014-05-15 19:15] #754 closed, assigned to corinnecurcie

[2014-05-15 19:16] #777 closed, assigned to corinnecurcie

[2014-05-15 19:18] nickkapur opened #781 "Bookmarklet :: Submissions without tags from the bookmarklet cause serious issues with curation"
Via Koko:
1. When submissions do not have any tags, O:43: appears on the pop up pages.

![tagging problem](https://cloud.githubusercontent.com/assets/2294780/2989584/90861868-dc65-11e3-86b5-2fc92537414c.png)
1. When there are O:43: on the pop up pages, I cannot add any tags from the edit pages.
   After the tags are entered and the edit pages updated, the added tags disappear from the edit pages.

[2014-05-15 19:21] nickkapur opened #782 "Fancybox popup :: arrows no longer work to move to next/previous item - neither clicking nor pressing arrow keys works anymore"

[2014-05-15 19:24] nickkapur opened #783 "Item pages :: Youtube videos just show a link on item pages, rather than embedded video"
By which I mean the individual item pages and not the item popups. Ideally video would be embedded on individual item pages.

See for example: http://jdarchive.org/ja/item/1696643

[2014-05-15 19:25] nickkapur opened #784 "Published items not showing up in search"
According to Koko, published seeds after id#1696647 are no longer showing up in search. This is a very serious issue if confirmed.

[2014-05-15 19:28] nickkapur opened #785 "Item popup :: maps no longer showing"
Location data is shown, but map is just a gray rectangle:
![map](https://cloud.githubusercontent.com/assets/2294780/2989686/062b46b4-dc67-11e3-815f-b0e8223c0de7.png)

[2014-05-15 19:30] nickkapur opened #786 "New AJW Import :: No images and text shows html markup"

[2014-05-15 19:31] #675 closed, assigned to nickkapur

[2014-05-15 19:36] nickkapur opened #787 "Testimonial Submission Form :: Adding Image does nothing"
See: http://jdarchive.org/en/testimonial/

Are we even storing image urls somewhere?

Let's find out if we are storing the urls in attributes. If we are not, let's start storing them.

Then let's include those images in testimonial popups and item pages

[2014-05-15 20:20] nickkapur commented on #784
Cannot confirm.

[2014-05-15 20:20] #784 closed, assigned to nobody

[2014-05-15 20:44] nickkapur opened #788 "Bookmarklet :: bookmarklet not working - blank white page"
Has anyone touched the bookmark recently (in the past two weeks or so?)

[2014-05-15 21:33] nickkapur commented on #788
Fixed!

[2014-05-15 21:33] #788 closed, assigned to nobody

[2014-05-16 16:44] nickkapur opened #792 "Some "Sakura On" Project images have no thumbnail image"
But they _do_ have images in the popup. Weird.

[2014-05-16 16:49] nickkapur opened #793 "Map :: number of hits does not update when time slider is adjusted"

[2014-05-20 19:32] annawada opened #794 "Admin page :: Error entering dates for media created before 2009"
When publishing items with a "media date created" older than 2009, the admin page displays the following error message: "An error has occurred during item update."

[2014-06-04 16:34] nickkapur opened #795 "Make collections box dropdown menu scrollable"
If a user has more than 100 collections or so, they cannot access some collections.

This only applies to Koko right now.

[2014-06-10 19:57] nickkapur opened #796 "Search :: highlight search term within text when searching"
Via Professor Gordon:

"In searching for a text intensive item, e.g. at testimonial as opposed to a tweet, it is a bit of a limitation that our search results do not highlight the place where the searched-for text is found.  For example, I searched testimonials for those which include the word “history” (in Japanese, 歴史), and got 8 hits from the Tokyo Foundation collection.  But these testimonials

[2014-06-12 22:24] nickkapur opened #798 "Fancybox popup :: no longer able to close popup either by clicking on x or clicking outside of the box"
Only way out is to reload the entire page.

[2014-06-13 18:23] nickkapur opened #799 "Michinoku photos :: even in photos that show thumbnails, photos do not show up in popup view (broken link)"

[2014-07-11 21:07] nickkapur opened #801 "Michinoku photos :: some photos, which say "via IRIDeS" do not display full data when "View Source" is clicked"
Is this an error?

[2014-07-17 18:36] nickkapur opened #802 "Content :: Add new NHK video broadcasts (since March 2013)"

[2014-07-17 18:50] nickkapur opened #803 "Content :: Look into getting permission to use Tagajo archive data"

[2014-07-31 15:25] HakuG commented on #798
I can't recreate this... Is this fixed? It seems to be working for me.

[2014-07-31 15:37] HakuG commented on #782
After lots of searching, I figured out the hilarious problem:

Disable Adblock, and then it works. I don't know how to bypass Adblock, to be honest, but it sounds like it's a bunch of renaming of files, making sure nothing with the word "click" or "ad" is a variable name that has javascript attached to it.

[2014-08-10 17:02] HakuG commented on #782
I was going to try to fix this server-side, but it doesn't seem to be happening anymore. Is this still happening with anyone else?

[2014-08-11 00:28] HakuG commented on #785
I found the error, after tons and tons of work, but I need some experienced people to help me. Basically, in jda.view.locator-map.js, it keeps calling L.TileLayer or L.LatLng, it doesn't seem to import Leaflet anywhere...

I'm curious, has this worked in the past? Because if so, then it might just be an error with an older version. Otherwise, it might be that the programmer never actually put it i

[2014-08-13 01:51] #723 closed, assigned to nickkapur

[2014-08-13 02:46] meeshmon opened #807 "the NDL websites are not showing up well　-a possible API issue?"

[2014-08-13 02:49] meeshmon opened #808 "the Yahoo photos seem to have been disconnected from our archive - a possible API issue?"

[2014-08-13 19:52] HakuG commented on #785
Figured it out. The url we use has been outdated. v3 should be updated to v4. I don't know the exact url since I don't have the mapbox account, but whoever does should log-in and check the new url.

[2014-08-22 23:58] meeshmon opened #809 "Localization of Waku editor"
Localize the waku on-screen instructions

[2014-08-23 00:00] meeshmon opened #810 "Guiding the users to waku"
Think about how JDA users will be guided to and connected to Waku

[2014-09-08 06:38] annawada opened #812 "Front page :: Collections carousel layout"
The thumbnail titles on the collections carousel are off-center, on both Japanese and English pages.
![screenshot](https://cloud.githubusercontent.com/assets/4721986/4181781/5923414e-3722-11e4-8cfb-84bab743e91c.jpg)

[2014-09-10 21:30] corinnecurcie opened #815 "Items without geolocation do not pop-up with fancybox"
Sometimes. For some people.

[2014-09-10 21:35] corinnecurcie opened #816 "Add User ID row on admin dashboard user tables"
Requested by Koko!

jdarchive.org/admin/dashboard

In src -> Zeega -> AdminBundle

Look for Symfony's documentation

Documentation about AdminBundle: http://sonata-project.org/bundles/admin/2-1/doc/index.html

[2014-09-10 21:36] #798 closed, assigned to nobody

[2014-09-10 21:37] #756 closed, assigned to corinnecurcie

[2014-09-10 21:37] #755 closed, assigned to corinnecurcie

[2014-09-10 21:40] #807 closed, assigned to nobody

[2014-09-10 21:42] #799 closed, assigned to corinnecurcie

[2014-09-10 21:45] corinnecurcie commented on #793
This occurs with the left slider only. When you move the right one, it does update! Interesting.

[2014-09-10 21:51] corinnecurcie commented on #792
This is probably something in their API... typically we take separate images for the thumbnail and the actual picture... so if there is no thumbnail in their API, we will not have it on our end, even if we get the regular picture. This also happened with the thumbnail issue in the Michinoku photos.

[2014-09-10 21:54] corinnecurcie commented on #782
This happens if the object next to it has the "invalid LatLng error" !!

[2014-09-12 16:42] #812 closed, assigned to HakuG

[2014-09-17 04:04] #746 closed, assigned to corinnecurcie

[2014-09-17 06:19] corinnecurcie commented on #792
After further investigation: it turns out that Sakura On uses the tumblr API, and we import the data with a script: Japan-Digital-Archives/scripts/sakura.py. It looks like the thumbnail_url is being found with "thumbnail_url = results["response"]["posts"][post_offset]["photos"][photo_offset]["alt_sizes"][2]["url"]". It clearly works for most of the pictures, and the line above is under a "try" cla

[2014-09-17 06:25] corinnecurcie commented on #802
Japan-Digital-Archives/scripts/nhk.py

[2014-09-17 06:44] corinnecurcie commented on #808
Amazon RDS has "restore database to certain point in time feature". I'm slightly worried this will just restore to closest earlier backup, which would be the 2013 one, but maybe not. I'm looking for ways to be able to join our 2013 backup with our current one, but I haven't found a solution yet.

If I restore to point in time, I would probably do July 1, since we discovered the Yahoo photos were g

[2014-09-17 19:12] nickkapur opened #819 "Minor fix: Reorder item type drop-down on search page"
Prof. Gordon would like the item types in English and Japanese to be re-ordered as follows:

all formats
exclude tweets
image
video
audio
tweet
website
document
testimonial
broadcast
news article
news headline
collection

The order up to "tweet" is the same but after that it's a different order that Prof. Gordon feels better reflects the importance of certain item types in our archive.

This is a

[2014-09-17 19:18] nickkapur opened #820 "Team Page: Update Team Page"
Team page needs to be updated as follows:

1) Project Manager should now read "Project Manager: Ryo Morimoto, Research Fellow"

2) Delete "MapD Developer: Todd Mostak" as Todd is no longer actively supporting our project

3) Delete "Public Relations and Social Media: Taisei Wake" as Taisei is no longer with our project

4) Delete "Research Associate: Ryo Morimoto" as Ryo is now the manager

5) Und

[2014-09-17 20:57] #809 closed, assigned to jessyurko

[2014-09-18 00:57] #820 closed, assigned to nobody

[2014-09-20 18:15] jdaKoko opened #822 "Admin Dashboard_ID1839723~1908466_resulted 500 Internal Server Error"
Newly imported items on 9/20/14 betweenID1839723~1908466 resulted in "500 internal Server Error" when I opened the edit page.
![error in admin yahoo jpg copy](https://cloud.githubusercontent.com/assets/8831502/4346220/12abfb82-40f2-11e4-8e20-e9d2a0bfdd47.jpg)

[2014-09-20 21:09] corinnecurcie commented on #822
So I was able to separately restore an old backup of our database and pull
the Yahoo! and Hypercities items out of there with all their data intact.
So I have a huge JSON file of all the items that were lost, and I'm
currently trying to reimport it into the database. Unfortunately, it looks
like even though I included the "id" in the data for each item, hoping to
get them in the original places of

[2014-09-21 00:18] #822 closed, assigned to corinnecurcie

[2014-09-22 20:07] jdaKoko opened #823 "Popup pages not showing up ID1836094~1836101"
Popup pages are not appearing from ID 1836094 to 1836101, 8 items.

![popup page problem seeds 9 22 14](https://cloud.githubusercontent.com/assets/8831502/4363259/ea559ac8-4293-11e4-8aa8-049835d89c19.png)

[2014-09-24 16:36] jdaKoko opened #826 "Fukushima Disaster Archive:: multiple probelms in pop-ups and item pages."
Fukushima Disaster Archive, user ID http://jdarchive.org/ja/user/515
<Pop-up pages>
1. Pop-up pages　→ images do not appear
2.　"Add to"→　I do not know what the "Add to" function does for the JDA site.
3.  "Link" functions do not open even when I click, so I cannot search id numbers.

<Item pages>
1. images and pdfs do not appear in item pages
2. Links to Fukushima Digital Archive say "View on Yahoo

[2014-09-24 18:28] corinnecurcie commented on #826
Thanks Koko.

This is interesting - I tested it out, and for me the "Add to" button
doesn't show up the first time I open an item in the popup. However, if I
close that item, and then open it up again, the "Add to" button does show
like your picture! And when it does show, you are correct, the Link button
does not work.  I believe the "Add To" button's is supposed to allow users
to add it to one o

[2014-09-25 02:13] jdaKoko commented on #826
Corinne,
Thank you very much for the message and for trying to fix many issues.  I will be uploading a lot of bugs (unfortunately) as I go along checking the website and the admin pages. You and Ryo can discuss the priority of work.  Now that the JDA search came back after you did the SOLR dataimport, and the collection pages are working, I am good to do my work.  **(@.@)/**

[2014-09-25 23:54] jdaKoko opened #827 "Collection Page Editing for admin staff"
1.) Images
Some of the photos in the collection pages must be filled by someone.  Since I do not have user IDs and passwords for those collections left blank, I am not able to add new photos to collections in which images have been lost.
I tried to drag an image to the image box, which is listed on http://jdarchive.org/ja/collection/884964.  It seems I was able to add it, but it did not save in in

[2014-09-26 00:12] jdaKoko opened #828 "Log-in from the JDA top page etc."
The strip of multiple thumbnails (44~45 collections) may be causing sign-in difficulty for users.
When you go to the JDA site, you cannot sign in unless you have to wait 15~20 minutes until all the images are loaded in the strip.  (As you can see, maybe, in the attached image, there is a spinning circle of death of spin circle and it's impossible to sign-in.)
Other problem is after logging out, it

[2014-09-26 02:12] jdaKoko commented on #826
Follow up on the pop-ups.  I opened up the same Fukushima Disaster Archive item in Safari, Firefox, and Chrome.  The appearance of the popups were not consistent from yesterday to today. Could it be that pop ups look different from day to day or based on time of submission or import?  I use three different browsers for my work, so the inconsistency sometimes inconveniences me a little. The issue i

[2014-09-27 22:09] #816 closed, assigned to karashen

[2014-09-29 01:28] #808 closed, assigned to corinnecurcie

[2014-09-30 22:33] #828 closed, assigned to corinnecurcie

[2014-10-01 02:20] jdaKoko opened #831 "Item page:: please link to Internet Archive"
Item page inconsistancy started to occur ID 1475610.

1.)After ID 145610, item pages only linked to live links.  The item page "View on seeds" Fig 2. or "View  on Internet Archive" Fig 3 is supposed to link to IA wayback page Uri\* .  Linking to Internet Archive is very important. The National Diet Libray Disaster site, "Hinagiku" links to the JDA item page.
Fig 2.
![item pages after jan 24 14](ht

[2014-10-01 17:53] karashen opened #832 "Add New Collection functionality"
After dragging items to a new collection, clicking "go to collection" leads to a 404 error.

[2014-10-01 21:57] corinnecurcie commented on #832
Hey Kara, is this happening on your dev server, or the current site? I'm not having those issues on the site.

[2014-10-01 21:57] #815 closed, assigned to karashen

[2014-10-01 21:59] #632 closed, assigned to HakuG

[2014-10-01 22:02] corinnecurcie commented on #739
It should be easy because the script is already written (https://github.com/Japan-Digital-Archives/scripts/blob/master/ajw.py), and we have some documentation as well: https://github.com/Japan-Digital-Archives/scripts/wiki/Asahi-Asia-&-Japan-Watch-Import-Notes

If you can figure out how to get the items into a JSON format (the proper format is on the "Adding Data to the Archive" page on the wiki -

[2014-10-01 22:33] karashen commented on #832
This is happening on the current site. I'm not sure if it has to do with my
permission on creating collections? But I'm definitely not able to create a
collection.

On Wed, Oct 1, 2014 at 5:57 PM, corinnecurcie notifications@github.com
wrote:

[2014-10-04 20:36] corinnecurcie opened #835 "Trying to close video fancybox doesn't work, leads to errors"
Opening the video fancybox leads to console errors: "Uncaught TypeError: Cannot read property 'lat' of undefined
Uncaught TypeError: Cannot read property 'find' of null"

And trying to close leads to: "Uncaught TypeError: Cannot read property 'pop' of undefined"

[2014-10-11 19:56] jdaKoko opened #836 "Michinoku Shinrokuen (user_429) category "Unknown Format" is not appearing on the JDA search"
The Michinoku Shinrokuden collection is supposed to have documents or pdfs.  However, they are not appearing in the collection, resulting in 1179 items missing.  These are categorized under "Unknown Format".
They all have the Media Type labled as  "Video" in the Admin Edit pages, and their item pages say "View on Yahoo Japan", but the "View on Yahoo Japan" link leads to Michinoku Shinrokuden.
i.e.

[2014-10-11 20:18] jdaKoko opened #837 "Add Momoko Howell to the team page"
Add  Web Seed Curation: Momoko Howell to the team page under Content Development and move Rei Yoshimine to Team Alumini.
Koko

[2014-10-13 04:56] jdaKoko opened #838 "pop up page tag problem"
Tags appear in one filed in pop ups when you submit seeds using the bookmarklet.
There is no "add a tag" function in the pop up.
The item page shows word "null" shows up in the tag section when you submit using the bookmarklet.
e.g. http://jdarchive.org/en/item/1924955

Source: アスベスト - 大震災と化学物質 ID1924955
http://jdarchive.org/ja/collection/1924934

![pop-up page_tag problem](https://cloud.githubuse

[2014-10-16 02:25] annawada opened #849 "Carousel not showing up on frontpage"
Tried with Chrome and Firefox browsers.

[2014-10-16 02:26] corinnecurcie commented on #849
Hi Anna, this is actually for right now a controlled take-down of the
carousel. The carousel was causing loading times of 25-35seconds for the
homepage, resulting from a large import made recently to our database. I'm
attempting to rewrite the query that populated the carousel in order to not
have this slowdown, so for now I've taken it down, as it doesn't
significantly alter user experience but t

[2014-10-17 16:49] #832 closed, assigned to karashen

[2014-10-17 17:41] corinnecurcie commented on #795
zahra

[2014-10-17 17:42] corinnecurcie commented on #802
zahra

[2014-10-17 17:59] corinnecurcie commented on #819
zahra

[2014-10-18 02:12] HakuG commented on #750
Just fixed it, I think, but not sure.

[2014-10-18 02:13] HakuG commented on #776
Done.

[2014-10-18 17:20] #837 closed, assigned to theannielin

[2014-10-18 17:20] #750 closed, assigned to nobody

[2014-10-18 21:05] #783 closed, assigned to rchen152

[2014-10-18 21:10] rchen152 commented on #783
Ah, it looks like I missed something - when the url begins with https:// rather than http://, we still don't detect it.  Will submit a patch shortly.

[2014-10-18 21:44] corinnecurcie commented on #783
Looks great! Released and seems to be working properly.
http://jdarchive.org/ja/item/1696643

On Sat, Oct 18, 2014 at 5:10 PM, rchen152 notifications@github.com wrote:

##

Corinne Curcie
Harvard University
Class of 2015
Computer Science

[2014-10-19 04:38] jdaKoko opened #855 "Michinoku Shinrokuden, MediaCreatorUsername IRIDes, Images disappeared."
This issue may be the same problem as #801.  After the Yahoo image problem was fixed, some Michinoku Shinrokuden images (ID 891338 ~ 913881) are not appearing in the JDA site.
![media creator username irides images](https://cloud.githubusercontent.com/assets/8831502/4692060/b0b18f88-5748-11e4-89a3-030c7b1474d9.png)

[2014-10-19 05:31] jcuanm commented on #739
So I know that I am supposed to get the items into the JSON format that is highlighted in the following:

![image](https://cloud.githubusercontent.com/assets/8813674/4692151/f789bb96-574e-11e4-92cb-0177f660c533.png)

Just to be clear, are the items that I am supposed to be formatting the ones highlighted below?

![image](https://cloud.githubusercontent.com/assets/8813674/4692185/1c94477e-5751-11e4

[2014-10-19 05:45] jcuanm commented on #739
Oh! As a side note, for the example of JSON formatting that is granted here:
![image](https://cloud.githubusercontent.com/assets/8813674/4692207/9315a018-5752-11e4-9e43-e4f6aa467fbb.png)

There is an unnecessary comma next to the bracket on line 28 (I manually counted the lines from top to bottom).

[2014-10-19 23:40] HakuG opened #856 "Problems with opening up the page on clicking"
You can't open any item in the search page unless you actually click on the thumbnail. If you're hovering over the item's text and then try to click, you'll receive a console error.

![screen shot 2014-10-19 at 7 40 19 pm](https://cloud.githubusercontent.com/assets/5514073/4695187/55ff3fda-57e9-11e4-9fa9-766394c02283.png)

[2014-10-19 23:42] HakuG opened #857 "When you click on View Source for a video, you get a 404 error"
Yeah. Here are pics.

![screen shot 2014-10-19 at 7 41 48 pm](https://cloud.githubusercontent.com/assets/5514073/4695192/016393f2-57c8-11e4-9e96-9468f725a316.png)
![screen shot 2014-10-19 at 7 41 55 pm](https://cloud.githubusercontent.com/assets/5514073/4695193/02bd87b2-57c8-11e4-9f1a-a9ba30a7fdd0.png)

[2014-10-20 00:41] HakuG commented on #749
Fixed this... I think. Still have no way to check on individual item pages...

[2014-10-20 01:40] #749 closed, assigned to nobody

[2014-10-20 02:03] jdaKoko opened #859 "Cannot edit a collection again after saving and reedit"
I cannot edit the explanation on my collection page after saving once and attempting to reedit.
The collection page url has # after the ID number.
I have to refresh the url to restart editing.
The image shows that when you have # in the url the yellow boxes won't appear.

![cannot edit collection](https://cloud.githubusercontent.com/assets/8831502/4695687/dc36ffac-57da-11e4-8e4d-fad8c06de907.png)

[2014-10-21 01:39] jdaKoko opened #861 "Please add the Uri* link to Edit pages"
My work involves reviewing the archived conditions of items in IA.  Therefore, please add the Uri\* hyperlink (Internet Archive Link) to the edit pages.  See my request in the image.

![uri link request](https://cloud.githubusercontent.com/assets/8831502/4711876/8a3d3f2a-58c2-11e4-9164-4780aebdf8a2.png)

[2014-10-25 12:24] jdaKoko opened #863 "Published seeds are not appearing on the JDA search"
The User 1,RIJS, submissions after ID1927196 are not appearing on the JDA search.
The User 426, 311 Memories, items after ID1924342 are not appearing on the JDA search.

[2014-10-25 22:09] rchen152 commented on #781
I'm having trouble reproducing this problem.
The steps I went through were to
(1) Navigate to some website,
(2) Click "Add to JDA" in the bookmark bar and then "Add Media" in the popup window.
(3) Navigate to the collection and click on the website I just added.
The popup looks like this (no O:43: tag):
![image](https://cloud.githubusercontent.com/assets/4142312/4781258/57830b26-5c93-11e4-94f8-bcc

[2014-10-26 01:28] corinnecurcie commented on #855
This might be on Michinoku Shinrokuden's end. It looks like the data is still the same, we have URIs like http://michinoku.irides.tohoku.ac.jp/michinoku-archive/photo/4/10615620461502.jpg which must be scraped from their end, but they don't work. It's not like our data is lost, it's that the links are broken.

[2014-10-26 02:21] corinnecurcie commented on #855
Michinoku Shinrokuden used to have an old URL system where all the URLs started with "michinoku.irides....". When this was the case, we imported those images with IDs 891338 ~ 913881 (about 22,000). After that, they switched to URLs that all started with "search.shinrokuden...". Unfortunately, the URLs did not correlate at ALL in terms of ID in the url, so we could not control for duplicates getti

[2014-10-26 02:43] corinnecurcie commented on #727
Getting rid of a row in a table is more trouble than it's worth. This requires updating the schema of SOLR and making sure it jives with our MySQL. If the location field were required for importing data, I'd agree on changing that, but since it's not required I don't think this issue is worth doing. There is very little benefit, but the work involved and the potential for screwup are not insignifi

[2014-10-26 02:43] #727 closed, assigned to corinnecurcie

[2014-10-26 03:30] corinnecurcie commented on #801
@jdaKoko - you are right, this IS linked to issue #855, in that the majority of where this occurs is in the IDs 891338~913881 - the "old" photos I mentioned from before the URL format changed. Again, we have no access to the API that generated those old URLs, so we cannot get the "hosted" pages that aren't just .jpgs. And, the URLs in this format aren't supported anymore anyway, so even if we coul

[2014-10-26 03:55] corinnecurcie commented on #826
Okay, I've isolated some of the issues:
The images not showing up is because in popups is because they are PDFs, and  we don't have them uploaded to DocumentCloud. So the console brings up an error message like "Failed to load resource: the server responded with a status of 404 (Not Found) http://www.documentcloud.org/documents/http://fukushima.archive-disasters.jp/infolib/id/M2013011818155472579?

[2014-10-26 05:51] corinnecurcie commented on #826
@jdaKoko + @meeshmon : I changed the PDFs to display as a link like the Internet Archive PDFs do. Is that okay? There is no preview image larger than the thumbnail in Fukushima's API, so we unfortunately don't have a nice way of previewing the document. If you think something else would be better, let me know, but I think this is better than the blank space that was there before.

Still working on

[2014-10-27 06:14] corinnecurcie commented on #826
Hi @jdaKoko and @meeshmon  - I believe this item should be fixed now. The mystery box, tagging, and "Add to" issues were actually appearing in all non-geolocated items, so thank you for finding this! Those issues stemmed from some the mapbox script generating 2 seperate maps - the map for the geolocated data (which in this case is a blank mystery box because the item isn't geolocated), and the "No

[2014-10-27 14:43] meeshmon commented on #826
It looks like this problem is fixed. Great job Corinne!

[2014-10-27 20:01] meeshmon commented on #781
Rebecca, Thank you or the note. I tried this myself but I could not replicate the issue either. I will assign Koko to take a look at this one and have her point out the exact issue.

[2014-10-27 20:03] meeshmon commented on #781
こうこさん、この問題を直そうとしているんですが、どうも同じような状況が確認できません。もしこの問題が続いているようであれば、教えて下さい。

[2014-10-27 23:07] #826 closed, assigned to corinnecurcie

[2014-10-27 23:53] jdaKoko commented on #781
The problems occured from the conventional submission form, not the bookmarklet.
I do not have any extra collection space in my account unless someone adds a collection box dropdown function, so I need to use the contribution page for submissions.

<Main issue>
New submissions without tags have a different issue, the pop-ups have (N;X) instead of (O:43). Fortunately, I can add tags from the edit p

[2014-10-28 01:18] jdaKoko commented on #826
I will temporary unpublish 21 Fukushima Disaster Archive "Website" items, I will re-publish after the export on Nov. 1, 2014. This is the prevension act that all published "Website" items going into the export page.

![fukushima disaster archive](https://cloud.githubusercontent.com/assets/8831502/4802187/9b8f63ac-5e3f-11e4-85e5-7ccaceec1413.png)

[2014-10-31 17:01] #857 closed, assigned to nobody

[2014-10-31 17:01] #776 closed, assigned to rchen152

[2014-10-31 17:24] corinnecurcie commented on #823
Hi Koko,

Could you give us more information? We took a look and were able to get the popups to appear, and the images to display as well (albeit slowly).

[2014-10-31 17:26] corinnecurcie commented on #738
Hello Nick-san,
It's Hidenori Watanave.

I've shared our KML data in Google Drive.
https://drive.google.com/folderview?id=0B7uKeVg3VJZRNXZERWstcXNGVU0&usp=sharing
(If you cannot access to it, Please contact me.)

I wrote details of data in "Readme".
If you have any questions, contact me always!

I am waiting for the information of API of your jdarchive.

Thank you very much.

[2014-10-31 17:27] corinnecurcie commented on #738
The watanave data is from Hidenori Watanave's archive about the disasters, which is built on Google Earth, here:

http://shinsai.mapping.jp/index_en.html

As you'll see, it has some pretty awesome visualizations. He gave us the Google Earth .kml files, which are basically xml files. I think I might have forwarded them to you already, but I will forward again forthwith! Basically, he has a bunch of

[2014-10-31 17:30] corinnecurcie commented on #738
LATITUDE AND LONGITUDE

[2014-10-31 17:35] corinnecurcie opened #867 "MAPS BROKEN"
again

[2014-10-31 17:38] jdaKoko commented on #823
Corinne, I took a look and the problems were fixed.  I assigned this on 9/22. The problem may have been fixed automatically when you fixed the yahoo issue around 9/28.  Thank you very much for taking a look.

[2014-10-31 17:46] corinnecurcie commented on #861
https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/blob/51362f81088abb7f11f6bd0eec5c272aea659632/src/Zeega/AdminBundle/Resources/views/edit_custom.html.twig

[2014-10-31 17:52] corinnecurcie commented on #867
FIX IT

[2014-10-31 17:52] #849 closed, assigned to nobody

[2014-10-31 17:53] corinnecurcie commented on #835
Seems to only happen with videos that aren't embedded.

[2014-10-31 18:00] corinnecurcie commented on #718
Only works when you're not logged in?? But not always?? Certain angle??

[2014-10-31 18:05] corinnecurcie commented on #718
https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/blob/51362f81088abb7f11f6bd0eec5c272aea659632/web/js/app/views/collections/jda.view.collection.my-collections-drawer.js

[2014-11-03 19:00] theannielin commented on #741
When I run the API call for March 10, 2011 and "Fukushima", "There were no results that matched your query criteria." comes up. There is data for March 10, 2011 and "Japan Tsunami" though. Should I just try to import that?

[2014-11-03 23:29] nickkapur commented on #741
@theannielin Oops, I had a typo - I mean, everything that comes up _after_ March 10, 2011.

i.e., from March 10, 2011 to the present.

[2014-11-04 21:27] meeshmon commented on #867
The CGA says that they can't connect to the Solr running in Amazon's cloud at 174.129.31.158 on port 8080. Probably need to restart Solr? It could be an issue on our end.

[2014-11-04 21:31] HakuG commented on #867
That seems to be right. I couldn't find anything wrong with the code.
Restarting Solr (no idea how to do that) is the best plan of action.
On Nov 4, 2014 4:28 PM, "meeshmon" notifications@github.com wrote:

[2014-11-04 22:48] corinnecurcie commented on #867
I just restarted solr but haven't noticed a change. I also changed our
security settings in the same way we had to with Matt and MapD, to fix that
connectivity issue, but still not seeing anything. It's strange, becauase
Solr is fine for us. We are getting pings of 1ms and our search is fine.
It's all about the connectivity elsewhere, which is strange. The only
recent changes are the Fukushima dat

[2014-11-05 15:56] corinnecurcie commented on #867
It looks like it was CGA's server, per Steve's email this morning:

"The server responding to requests at http://geops.cga.harvard.edu:8080 hung.  After restarting the server application the map layer appeared.  Let me know if you see any problems.  If not, I'll close the ticket tomorrow."

Closing this issue. We can reopen if something happens again,

[2014-11-05 15:56] #867 closed, assigned to HakuG

[2014-11-08 18:34] corinnecurcie commented on #863
Hi Koko,

When you say 'published seeds' - how are you publishing them? Is this through the bookmarklet, or through the submission page on the website, or through a script?

[2014-11-08 21:33] jdaKoko commented on #863
1.) All submissions through Bookmarklet and the submission pages are published on the Admin Dash page.  (see the attached image)

2.) I do not know how other imported items, such as 311 Memories and Michnoku items, are published.

3.) I checked the User 1 items on the JDA search.  Now the RIJS website items are appearing on the JDA search.

4.) The User 426, 311 Memories, items from ID1924342 to 1

[2014-11-11 23:38] jcuanm commented on #861
How do we find the "Edit page" if we want to inspect it?

[2014-11-12 00:12] jdaKoko commented on #861
log in  http://jdarchive.org/en/login
go to http://jdarchive.org/admin/dashboard
click List "http://jdarchive.org/admin/zeega/data/item/list"
click id numbers at the left side of admin list pages. Then Edit page of the id number opens.
My job requires filtering. For example, "Media Type"  "is equal to" "website" because
Media Type Wewbsite\* requires Uri\* links in order for me to check wayback pa

[2014-11-13 00:01] jcuanm commented on #861
I tried signing into the first link but this page pops up, which doesn't let me do anything
![image](https://cloud.githubusercontent.com/assets/8813674/5021081/4e6f1a20-6a9e-11e4-9c81-8500281c900a.png)

[2014-11-13 00:02] jcuanm commented on #861
and then when I try to get into the second link, this page pops up, but I suspect that it has to do with the first link not working:
![image](https://cloud.githubusercontent.com/assets/8813674/5021090/6bbf3e34-6a9e-11e4-8ad1-7d15f43a066b.png)

[2014-11-13 00:21] corinnecurcie commented on #861
Try it now. I just added you as an admin, which should give you the
appropriate access.

On Wed, Nov 12, 2014 at 7:02 PM, jcuanm notifications@github.com wrote:

##

Corinne Curcie
Harvard University
Class of 2015
Computer Science

[2014-11-13 15:20] annawada opened #870 "Map not displaying on pop-up or item page"
The address and coordinates are there, but not the map image.

[2014-11-14 05:40] rchen152 opened #871 "Thumbnail covers remove button for website item in collection editing interface."
![image](https://cloud.githubusercontent.com/assets/4142312/5041730/40d1a556-6b96-11e4-900b-10b38dda5ba5.png)

See the third item in the collection.  The button is difficult to click on and its text is obscured.

[2014-11-14 07:41] annawada opened #873 "Bookmarklet (feature request) :: Date and language"
Users are currently unable to enter the date and language via the bookmarklet, and staff need to go back to the admin database to edit this information. It would be very time-saving to have this bit added to the app!

[2014-11-14 17:06] #859 closed, assigned to rchen152

[2014-11-14 17:06] corinnecurcie commented on #859
Hey @jdaKoko I believe this is fixed! Thank you @rchen152!!! =)

[2014-11-14 17:21] corinnecurcie commented on #831
This is really stupid.... even though we have the wayback archived page, for some reason the container in both cases is relying on the attribution-uri, which is the NON-archived page. The attribution URI for the container that's broken, predictably leads to a broken link: http://medg.jp/mt/2012/05/vol493.html

The attribution URI for the container that's working is a working link: http://ameblo.jp

[2014-11-14 17:29] corinnecurcie commented on #786
Email explaining photo issue from Prof. Gordon (definitely needs more research - he may believe this is the case, but it could be a fault on our end as well):
"Regarding the AJW articles, you’ll see if you look at the more recent ones (from 2013), that photos do not show up, whereas in the earlier ones, we do get the photos.   The reason for this is apparently that, at a certain point along the wa

[2014-11-14 18:02] #871 closed, assigned to nobody

[2014-11-15 07:01] corinnecurcie commented on #861
Okay @jcuanm, I think the dev server should have a functioning admin dashboard now. But you must do the following:

You have to change your parameters.ini file on the dev server. So once youre in the dev server (don't do this locally, because it won't work: our git system doesn't track the parameters file for security reasons), navigate to MY directory, /var/www/CORINNE, and type sudo vim app/conf

[2014-12-01 05:38] HakuG commented on #861
I've been working on it for a while... Getting the Attribution Uri is a little more annoying than I thought, but It's not bad. Just have to add some javascript code. I have no idea how to get it yet though, because it's in a text, and also the div ids are strangely coded... Will hopefully finish this soon.

[2014-12-01 06:24] jcuanm commented on #861
I've been trying to copy the code from the live link URI but that's been
giving me errors. The sonata stuff is getting pretty confusing too... but
yeah we'll get it done soon
El dic 1, 2014 12:38 AM, "HakuG" notifications@github.com escribió:

[2014-12-01 09:53] jdaKoko commented on #861
I just wanted to make sure I would like have the Url\* NOT the Attribution Uri\* on the Edit page.
The Url\* is not a live link.  Each Uri\* has waybackportion http://wayback.archive-it.org/2438/20110301000000 and having waybackportion with the live link leads to the IA archived page.

[2014-12-03 21:34] jcuanm commented on #861
We finished it

[2014-12-03 23:55] #861 closed, assigned to jcuanm

[2014-12-04 12:45] jdaKoko commented on #861
Super, thank you very much y'all.  I  appreciate the effort to add the wayback link. My tasks would be a lot easier!    ＊_(@-@)/_＊

[2014-12-05 18:23] #831 closed, assigned to rchen152

[2014-12-05 18:24] corinnecurcie opened #882 "Kahoku headlines"
Kahoku headlines

[2014-12-05 18:37] #835 closed, assigned to nobody

[2014-12-05 18:40] #823 closed, assigned to nobody

[2014-12-05 18:52] jdaKoko commented on #827
Thank you very much!

[2014-12-05 18:52] #882 closed, assigned to corinnecurcie

[2014-12-05 18:53] jdaKoko commented on #831
Thank you again!

[2014-12-05 18:55] #724 closed, assigned to nobody

[2014-12-05 18:56] corinnecurcie commented on #720
Reminder to me: send the google doc

[2014-12-05 18:59] corinnecurcie commented on #720
English is in translation->messages.en.xliff
Japanese '' .ja.xliff"

xliffs:

{% trans %} {{team.webdeveloper.title}} {% endtrans?? %}  Corinne Curcie

[2014-12-05 19:02] corinnecurcie commented on #717
IE 8, 9, 10, 11
OR developer tools

[2014-12-05 19:02] corinnecurcie commented on #717
find out what is broken on IE

[2014-12-05 19:42] corinnecurcie commented on #827
Hi Koko,

Closing this was an accident, sorry to get your hopes up! We reopened it. Sorry about that =(

[2014-12-05 22:36] jdaKoko opened #883 "Yahoo images ID 1-20001 are missing from the admin dashboard."
I just noticed that Yahoo images ID 1-20001 are missing from the admin dashboard and JDA search.
http://jdarchive.org/ja/user/3

[2014-12-06 01:22] corinnecurcie commented on #883
Hey Koko,

Yes, we became aware of this last night and are working on it!

On Fri, Dec 5, 2014 at 5:36 PM, jdaKoko notifications@github.com wrote:

##

Corinne Curcie
Harvard University
Class of 2015
Computer Science

[2014-12-12 22:38] meeshmon commented on #819
@zahramahmood, if you can quickly work on this, it's much appreciated!  Bit of pressure from the top on this issue...

[2014-12-14 03:11] jcuanm commented on #717
The website seems to be working fine on IE 11. Is there something specific that it is not supporting?
![image](https://cloud.githubusercontent.com/assets/8813674/5426267/05b39736-8315-11e4-8976-c8f04d928173.png)

[2014-12-14 04:21] meeshmon commented on #717
Did you try with earlier versions as well? People do use 10, 9, 8 and 7 as well.
![ie versions](https://cloud.githubusercontent.com/assets/8205299/5426431/bbae2ff2-831e-11e4-9bab-2dd164cf8c86.png)

[2014-12-16 01:36] meeshmon commented on #873
@HakuG, along with this request, could you also add two more filters (the date and language [Chinese, Korean, Japanese, English]) for our curators please?
You can find this when you click filters on the admin dashboard item list.
![unnamed](https://cloud.githubusercontent.com/assets/8205299/5447323/0a379a74-849a-11e4-8508-8daa658b56b6.png)

[2014-12-16 20:33] corinnecurcie commented on #720
I don't actually think there's a google doc, as far as I can tell... Ryo would you be able to provide translation? I think just doing the titles would be fine if you don't want to go through the hassle of giving everyone katakana for their names. But this is very low priority.

[2014-12-16 20:36] corinnecurcie commented on #736
@meeshmon Are we phasing out the presentation editor in favor of the Waku? That's what I figured so I'm wondering what the state of this issue is. Should I close it, assign it to Jessica, or work on it myself, etc.?

[2014-12-16 20:46] #10 closed, assigned to nobody

[2014-12-16 21:05] meeshmon commented on #736
@corinnecurcie We will eventually phase out the presentation editor, though we would like to keep already-made presentations somewhere. I think Jessica has stable addresses of those, but we need to think about where to keep/show those presentations. Maybe we should email Prof. Gordon to get his opinion for this one, and then close the issue.

[2014-12-16 21:10] meeshmon commented on #720
I will work on this. It would be a good airplane project tomorrow.

[2014-12-19 00:09] jdaKoko opened #886 "Kazuko Sakaguchi could not drag items to her collection"
This may be the same as #718.

On 12/16, Ms. Sakaguchi tried to make a collection.  She could not drag items to her collection.  While she was trying to add items, the collection box icon (a rectangle with an arrow toward a dotted rectangle, see the attached image) never went away although she refreshed the page many times. In my experience, refreshing the page erases the collection box icon and m

[2014-12-19 00:22] jdaKoko opened #887 "Youtube videos submitted using bookmarklet are not showing up on pop-ups and there is not scroll-down function."
I will attach the edit pages of youtube video submissions and the corresponding fancy box snapshots.  One is Prof. Watanabe's submission, which does not have any problems.  The other one is my youtube submission using bookmarklet.  The youtube via bookmarklet pop-ups are not showing in the fancy box and the scoroll down function is not there, either.
![koko s video submission using bookmarklet](ht

[2014-12-24 18:10] jcuanm commented on #717
After figuring out how to use the Internet Explorer Developers Tools, I found out that the website is supported by IE 9 and 10.

[2014-12-24 18:13] jcuanm commented on #717
However, on IE 8, I get the following error:
![image](https://cloud.githubusercontent.com/assets/8813674/5550256/a00e1f02-8b6e-11e4-9ff8-bc78a08f00d9.png)

[2014-12-26 01:27] jcuanm commented on #787
In what directory is the code for the "Add Testimonial" page?

[2014-12-26 05:12] HakuG commented on #887
Look at the thing in the bottom:
"Last Exported Seed ID: 1938111 if it has a higher ID, it has not been sent to IA."

I'm guessing we have to run Solr? @corinnecurcie, any idea?

[2014-12-27 00:43] jdaKoko commented on #887
This is not a Solr problem.  The Last Export Seed ID number only applies to the category website, in which Uri*s with waybackportion are the admin edit pages.

In this issue, the problems are occuring in the video submissions through bookmarklet.  Video submissions using bookmarklet do not have waybackportion in their uri\* so they are not sent to IA.

It seems that Youtube submissions using bookm

[2014-12-28 20:20] jcuanm commented on #787
I made a test testimonial and found out that Ms. Howell was indeed given some sort of notification that requested that my test testimonial be published on the archive. After she published the testimonial, I found out that the URL that I put in my testimonial did not show up. Other than the URL not showing up, everything else seemed ok.

[2014-12-31 14:53] jdaKoko opened #888 "Cannot connect admin page on 12/30 &31/14"
I have not been able to connect to the AdminDashboad since 12/30/14.  Anna-san will send seeds to IA on Jan. 5, 2015. I (Koko) need to publish all the seeds that need to go to IA. I hope I can see the page ASAP.

[2015-01-02 09:27] #888 closed

[2015-01-02 23:08] #883 closed

[2015-01-03 18:32] jcuanm commented on #718
I could not find the file "jda.view.collection.my-collections-drawer.js" inside of the collections directory. The only file inside of the collections directory is "jda.collection.item.js". Was "jda.view.collection.my-collections-drawer.js" moved somewhere else?

[2015-01-03 22:10] jdaKoko opened #889 "Seed submission problems"
1/3/15
There are two problems regarding seed submissions: conventional seed submission through the contribute page and submission through bookmarklet.
The submissions do not appear on the admin dash page.
The bookmarklet submission results say, "There was a problem adding this item!"
![bookmarklet](https://cloud.githubusercontent.com/assets/8831502/5603944/4d92bf3a-936b-11e4-8915-176bbbe08f7d.png)

[2015-01-05 00:24] jdaKoko commented on #889
1/4/15
Submitted seeds are now appearing on the admin dashboard.  However, seeds which published on  1/4/15 are not appearing in on the JDA search.

[2015-01-05 00:49] jdaKoko opened #890 "After the 1/1/15 fix on the admin dashboard, something went wrong with item pages."
The url, http://jdarchive.org/admin/zeega/data/item/1944691/edit was submitted on 1/4/15. The url, http://jdarchive.org/admin/zeega/data/item/1945195/edit, was imported from 311 memory.
The item pages are not showing up properly.

The item pages prior to 12/30/14 do not have problems. i.e.
http://jdarchive.org/en/item/1938767
http://jdarchive.org/en/item/1194846

[2015-01-05 01:51] jdaKoko opened #891 "Published seeds after 1/4/15 and 311 memory items are not appearing on the JDA search"
There is a similar problem to #863.
Published seeds on 1/4/15 are not appearing in the JDA search.
311 memory items after ID1554303 are not appearing in the JDA search.

[2015-01-05 05:24] corinnecurcie commented on #887
I believe that the problem is possibly because the videos submitted through the Bookmarklet are getting categorized as "Layer Type: outside-Youtube".

However, currently no youtube videos are showing up in the fancybox for me... so I'm having a hard time testing this. Are you able to see Youtube videos in the fancybox currently, Koko?

[2015-01-05 05:24] corinnecurcie commented on #891
Since I just added in all the Yahoo data back (hooray), this might be a Solr issue, so I'm re-indexing.

[2015-01-05 05:36] corinnecurcie commented on #787
When you say "the URL," do you mean the photo URL didn't show up? Or some other URL? So the conclusion is that we're not storing images anywhere?

To find out where code is stored:
1. go to the site (in this case the testimonial site)
2. Right click something unique to the page and click inspect element on chrome or whatever it is on firefox.
3. Look for a unique div title, in this case I'm using

[2015-01-05 06:03] corinnecurcie commented on #891
Okay, I think the re-index worked. I'm seeing a ton of 311 Memory items with IDs after 1554303, as well as a few 1/4/15 RIJS posts. Does this also resolve #863? I am seeing 311 items with IDs higher than 1931433, so hopefully this has been worked out.

I'm really sorry for the hassle... I'm going to see if I can automize the SOLR re-indexing so that it occurs once a day or something, so that we do

[2015-01-05 06:07] corinnecurcie commented on #890
Hi Koko,

I think this was also fixed with the re-index. The pages look good to me, so I'm going to close it. I'll wait for you to confirm the other issues though.

[2015-01-05 06:07] #890 closed

[2015-01-05 06:13] corinnecurcie commented on #889
Hi Koko,

The error message result may have been a very temporary and poorly-scheduled fault on my part from when I was re-importing the Yahoo data. In order to get the Yahoo data to go back into the 1-20,000 ID slots in the database, I had to turn off the automatic "ID-assigning" that normally happens when you submit an item, where it just adds it onto the end of the database. So for a brief peri

[2015-01-05 21:29] corinnecurcie commented on #718
Hey Javier, I just searched for the file name with github's search bar, and I saw in widget.js that the file is listed as being in the "../app/views/collections" folder. Because that's coming from a js file, the ".." refers to the js folder on our website (sometimes this is tricky). But I checked, and yes, the file is inside var/www/jda/web/js/app/views/collections.

![screen shot 2015-01-05 at 4

[2015-01-05 23:31] jcuanm commented on #787
The URL that I inputted into the "Add Image" feature on the Testimonial Page did not show up anywhere in my testimonial.

Thank you, Corinne!

[2015-01-06 01:01] jdaKoko commented on #887
I still cannot see a video in the fancy.
The below is the example.
The attached image item is not out-sideYoutube.
http://jdarchive.org/admin/zeega/data/item/1935005/edit
The item page does not show the video, either.
http://jdarchive.org/ja/item/1935005
![bookmarklet youtube submission](https://cloud.githubusercontent.com/assets/8831502/5622665/f50817ce-9514-11e4-8ccb-744c573a4188.png)

[2015-01-06 01:07] jdaKoko commented on #891
Yes! Thank you very much. Now I can see my latest submissions and 311 memory items.
I think this resolved #863.  I'd appreciated it very much if you could automize the SOLR re-indexing.

[2015-01-06 01:07] jdaKoko commented on #890
Thank you again! Super!

[2015-01-06 01:13] jdaKoko commented on #889
Dear Corinne,
Bookmarklet and the submission page are working now. Thank you very much for fixing.

[2015-01-06 01:13] #889 closed

[2015-01-06 17:37] nickkapur commented on #720
There is a google doc, will share with you both.

[2015-01-06 17:42] nickkapur commented on #863
Seems to have been resolved.

[2015-01-06 17:42] #863 closed

[2015-01-06 17:42] #891 closed

[2015-01-06 17:45] nickkapur commented on #887
Weirdly, I can see the Watanave youtube videos in fancybox, but they have no thumbnail. But other youtube videos that _do_ have a thumbnail do not show up in fancybox.

See this link: http://jdarchive.org/en/search#media_type=Video&sort=media-date-desc&

[2015-01-06 21:21] jdaKoko commented on #887
FYI
Youtubes on Sakura on Project and Sendai Mediatheque have thumnails but the videos show up in facybox.
http://jdarchive.org/ja/user/427#media_type=Video&sort=relevant&
http://jdarchive.org/en/user/4
Those videos are imported by collaborators.
They are not submitted by bookmarklet.

[2015-01-07 16:13] jdaKoko opened #892 "Prof. Hidenori Watanabe's imports (ID1946365~1947290) are not appearing in his collection page"
Prof. Watanabe's image imports came on 1/7/15, 1126 total . Only 200 items (ID1946165~1946364) are appearing in his collection page.  http://jdarchive.org/en/user/566.
The total item should be 1935, not 1010. SOLAR reset problem?

[2015-01-07 17:40] rchen152 commented on #892
I'm currently in the middle of re-indexing Solr, which should hopefully fix this problem.

[2015-01-07 18:11] rchen152 commented on #892
Yep, after the re-index, all 1126 of the images are showing up:
http://jdarchive.org/en/user/566#q=weathernews.jp&media_type=Image&sort=relevant&

[2015-01-08 01:20] jdaKoko commented on #892
Thank you very much for the quick-fix! I can even see his latest addtion(173 images) to the collection.

[2015-01-08 01:20] #892 closed

[2015-01-15 01:23] corinnecurcie commented on #720
Hey Zahra, here's the google doc with the english and japanese team names. Basically, everything in red is what's currently on the team page, and everything in black is what needs to be added for the japanese version. https://docs.google.com/document/d/1eVOVUz2aMVhvBo242xLzzCQ648neEWyPTKx4HTqMqeM/edit

As you saw when you added your name to the team.html.twig page, all the text is directly in the

[2015-01-15 02:19] corinnecurcie commented on #720
And actually, you can see in team.html.twig that most of the headings already have translations, like `{% trans %}jda.about.team{% endtrans %}`, so don't worry about those. However, if you actually go to the team page and click "日本語" to see the japanese translation, one of them doesn't translate, probably because it doesn't have an entry in messages.ja.xliff, so make sure you add that one.

[2015-01-15 02:27] corinnecurcie commented on #838
Hi Koko,

I am seeing the "NULL" problem and I will work on that.

However, I was not able to replicate the issue of the "add a tag" function in the popup. Here is what it looks like when I get the item to popup (thank you for including the collection source by the way!):

![screen shot 2015-01-14 at 9 24 43 pm](https://cloud.githubusercontent.com/assets/3768712/5751594/2f545a16-9c34-11e4-9cd4-4d3

[2015-01-15 02:40] jdaKoko commented on #838
Thank you very much again for fixing the NULL tag problem.  I am happy that tags in the pop-up show as they do.

[2015-01-16 23:50] corinnecurcie commented on #873
@Anapo14  Info about the bookmarklet and how to use it: http://jdarchive.org/en/bookmarklet/
Files for bookmarklet: src/JDA/CoreBundle/Resources/views/Widget/widget.html.twig
and app/Resources/views/widget.base.html twig. You might have to dig around through some other files too but that's up to you to find. For now, add a "Date Created" field and a "Language" field. Look up how to get a date entr

[2015-01-16 23:55] corinnecurcie opened #894 "Our cookie detection for language is a lot slower than it used to be"
This was briefly brought up in a web meeting and I think we should figure it out.

The site defaults to Japanese, and if a user clicks the "English" tab at the top, then a cookie is set to tell the website that this user always wants the website in English. The next time the user comes back, the site defaults to Japanese but should quickly switch to the English page upon detecting the cookie. This

[2015-01-16 23:58] corinnecurcie commented on #887
@rchen152 - Hey Rebecca I know you had some success with our videos the last time, is there any chance you could take a look at this?

[2015-01-17 18:44] meeshmon commented on #873
@corinnecurcie and @Anapo14. For now we can limit the options to the four language types. You could however just add others to be more exclusive. If we ever get lots of entries other than those four languages we can add that language later.

In addition to adding two more filters the admindashboard, I think Koko and Anna (correct me @annawada  if I am wrong) want the bookmarklet to mirror the admi

[2015-01-17 19:59] corinnecurcie commented on #870
This is the same issue as #785 so I'm going to close it.

[2015-01-17 19:59] #870 closed

[2015-01-17 21:42] #838 closed

[2015-01-18 01:04] jdaKoko opened #899 "item page::kahoku shimpo live links are not showing up on their item pages."
Please check the urls below.
NDL uses item pages so can someone can take a look at the Kahoku Shimpo seeds?  Live links are not showing up on their boxes. I was wondering if Kahoku Shimpo articles are prevented from linking the urls.
Most of the item pages' links work fine.

a Kahoku url bookmarklet submission: http://jdarchive.org/en/item/1949036
a Kahoku url contribution page submission: http://

[2015-01-18 01:22] jdaKoko opened #900 "Search: please add url and ID search in the JDA home page."
Please add the url & ID search in the JDA home page search.  Adding the url & ID search makes the collection making processs a lot easier for the web harvesting team.

[2015-01-18 02:04] jdaKoko commented on #899
Yahoo blog seeds have the same problem
http://jdarchive.org/en/item/1827521
http://jdarchive.org/en/item/1948458
These seeds  also have strange tags.

[2015-01-18 15:27] rchen152 commented on #887
Hmm, so it looks like there are two separate things going on:
1) When the layer type or uri is wrong, the fancybox and item page videos don't show up.
2) When the the thumbnail uri is missing, the thumbnail doesn't show up.  (Conversely, if there is thumbnail uri, the thumbnail shows up regardless of whether the actual video is working.)
I'll see what I can do.

[2015-01-18 23:29] jdaKoko commented on #887
YouTube items are complicated!
Items with the category "Website" and layer type "Website" are sent to Internet Archive for archiving and were submitted through the contribute page, so Youtube urls which have the category "Website" are not part of #887, the problem I first mentioned.  Those seeds do not have thumnail urls and they should have waybackportion in their Uri_.   The bookmarklet submissi

[2015-01-19 00:13] jdaKoko commented on #887
FYI
Initially, the bookmarklet-submitted YouTubes items had the Youtube url in their uri.  Jessica fixed the bookmarklet Youtube uri  on Oct, 2014 to be consistant with YouTube uri with Sakura on Project, Recorder 311. Now, the uris are showing only Youtube Ids, such as cMc1uBYImhg.

Bookmarklet Youtube submission between ID 1536049 and1935021 have Youtube url uris.
However, any of the bookmarklet

[2015-01-19 00:32] jdaKoko opened #907 "Filtering system change request"
Please change flitering system Uri to Attribution Uri on the admin page so that the admin page users can search with live or dead but known urls.

1.)YouTube submissions do not have domain part (I mean http://www.youtube.com/) in uri .
2.) Website submissions do have waybackportion in their uri
3.) Yahoo image items have uri  such as http://photoarchive.c.yimg.jp/res/emgphoto-0237/093/71237_sr.jpg

[2015-01-19 00:44] jdaKoko opened #908 "YouTube items with category "Website" : View Source should link to wayback page"
YouTube items with category "Website" should have internet archive wayback page links in the "View Source"  Right now, they are linked to JDA user plus Youtube id that result error pages.
Their item pages and fancy boxes do not have any problem at all, beautiful!  The IA-archived videos play nicely.
![category website youtube item problem](https://cloud.githubusercontent.com/assets/8831502/5794739

[2015-01-19 03:34] jdaKoko commented on #873
Thank you very much for adding the date and language functions.  I'd really appreciate if you could add the url field on the bookmarklet. Recently, we had duplicated urls submissions through the bookmarklet.  We would like users to see the url to make sure they are submitting the right webpage.

[2015-01-20 01:13] theannielin commented on #741
So, I am following the instructions on https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/wiki/Adding-data-to-the-archive on how to add data to the archive. I've scp'ed the json file into my dev server (in the var/www/zeega/ directory), and I ran "app/console zeega:persist --file_path=/var/www/zeega/nprfukushima.json --ingestor=console --user=573" (I made a new account for NPR, with t

[2015-01-20 01:20] theannielin commented on #741
I just saw your (@corinnecurcie ) comment on https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/issues/739 Should I just e-mail the json files to you then?

[2015-01-20 02:01] theannielin commented on #827
Hi Koko,
Did you resolve the 1st problem with the image boxes? (It seems like there is a saved image in the image box for http://jdarchive.org/ja/collection/884964)
I am still looking into problems 2 and 3!

[2015-01-20 02:08] theannielin commented on #786
When I go to the sources for the images of the AJW articles, it brings me to an XML file that tells me access denied (for example, https://s3.amazonaws.com/JDA-Files/AJ201303070093M.jpg).

[2015-01-20 02:24] jdaKoko commented on #827
I am sorry the 1st problem has not resoloved yet.
What happened to the collection 884964 was that the image was lost when the yahoo image items were deleted accidentaly.  Since Corinne restored the yahoo image problem, the image came back automatically.

 I want to fill the collection images of
http://jdarchive.org/ja/collection/885250  by Molly Des Jardin
http://jdarchive.org/ja/collection/153456

[2015-01-20 03:18] corinnecurcie commented on #741
Yes, that'd be fine! Thank you!

On Mon, Jan 19, 2015 at 8:20 PM, Annie Lin notifications@github.com wrote:

##

Corinne Curcie
Harvard University
Class of 2015
Computer Science

[2015-01-20 04:32] corinnecurcie commented on #786
Okay, so from what I can tell, AJW will sometimes FTP into our server and drop off a bunch of articles. We then FTP in as well, and run a script that scrapes the important data from the articles and then imports the data into our database, so that we can display links to the articles on our archive. See here: https://github.com/Japan-Digital-Archives/scripts/wiki/Asahi-Asia-&-Japan-Watch-Import-No

[2015-01-20 05:10] jdaKoko commented on #873
The bookmark language designation does not appear in the edit page field. Is someone still working on it? The date works great.  I prefer bookmarklet system rather than the contribute page date sysytem, which I have to type the year to get to 2011.
![language_not filled](https://cloud.githubusercontent.com/assets/8831502/5812419/3ac25210-a038-11e4-80e1-51285904ff07.png)

[2015-01-20 06:45] rchen152 commented on #887
I think this update fixes the issue: https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/pull/906

In Chrome and IE on my laptop, the following now all display properly:
http://jdarchive.org/en/item/1942410 (video on item page)
http://jdarchive.org/ja/item/1935005 (video on item page)
http://jdarchive.org/en/search#media_type=Video&sort=media-date-desc& (thumbnails and fancybox videos)

[2015-01-20 08:52] corinnecurcie commented on #887
Thank you so much @rchen152! Awesome work! =)

@jdaKoko could you confirm if the issue is resolved and close the issue if so? Thank you! =)

[2015-01-20 08:55] corinnecurcie commented on #907
I added attribution_uri so that you can search with either one. Is this acceptable?

[2015-01-20 08:56] corinnecurcie commented on #873
Hi @jdaKoko I believe the language should be working for the bookmarklet submission now.

@Anapo14 as per Koko's second-to-last comment, we should put the URL of the page on the bookmarklet as well.

[2015-01-20 15:40] jdaKoko commented on #887
Great! Thank you very much.

[2015-01-20 15:40] #887 closed

[2015-01-20 15:42] jdaKoko commented on #907
Yes!  Thank you again. I will tell Anna about the change.

[2015-01-20 15:42] #907 closed

[2015-01-20 20:10] rchen152 commented on #566
I think this issue has been resolved (https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/pull/906)
The example item now displays correctly:
http://jdarchive.org/en/item/1493421
http://jdarchive.org/en/search#q=Charlie+Brooker+on+the+Media's+Japan+Coverage&media_type=&sort=relevant&

[2015-01-21 00:52] jdaKoko commented on #873
Thank you! The language field is working.

[2015-01-21 05:10] meeshmon opened #915 "Add Taisei Wake (和氣大成) to team Alumni list"
Please add Taisei Wake (和氣大成) web seed curation and SNS promotion
(ウェブ　シードキュレーション & SNS　プロモーション) to the team Alumni list.

[2015-01-21 23:13] nickkapur commented on #566
It does! Thanks much!

[2015-01-21 23:13] #566 closed

[2015-01-21 23:19] nickkapur commented on #786
Unfortunately, I never did it myself either. Molly was totally in charge of that, so you can check with her at mollydes@upenn.edu.  But all that said, I am 99% positive that the images were also in the FTP folder. I'm not sure how we handled them, but I guess we uploaded them to S3? Again, Molly should know, and if not her, then EJ.

[2015-01-22 02:47] meeshmon commented on #786
@corinnecurcie Unfortunately I do not know it either. But I would like to ask if there is any way for us to find out where the batch AJW send us for the headlines between Septermber 2013 to April 2014 went. Do you think this is something we could recover? I have been trying to be in touch with AJW, but they are not being responsive...

[2015-01-22 17:49] #894 closed

[2015-01-22 21:55] rchen152 commented on #908
The View Source link is working now:
http://jdarchive.org/en/user/1#q=heroes+of+japan+earthquake+and+tsunami&media_type=&sort=relevant&

[2015-01-22 22:18] jdaKoko commented on #908
Thank you again, Rebecca.   The IT Crowd rocksl

[2015-01-22 22:18] #908 closed

[2015-01-23 20:17] corinnecurcie commented on #900
Hi Koko, do you mean that, by typing the URL or ID into the search box, you want the item from our database to appear in the search results? I think this is what you mean, I just want to be positive! thanks.

[2015-01-23 20:54] jdaKoko commented on #900
Yes.  I am sorry it wasn't clear.  Thank you very much for working on  a lot of issues lately.  I am very grateful that the IT Crowd has been very helpful to our web harvesting team.

[2015-01-23 21:03] corinnecurcie commented on #740
@meeshmon or @nickkapur, do we have an API for this? Or any information about where to find these?

[2015-01-23 21:11] meeshmon commented on #740
@corinnecurcie We still have not heard from Shibayama-sensei on this one. My guess is this needs to wait at least until the upcoming UN conference in March is over.
So what will happen is that we will connect to Kahoku headlines via Michinoku, so we won't write any new API to get this done.

[2015-01-23 21:22] corinnecurcie commented on #712
Okay so you'll probably have to write a script in python to do this. I like to use the python library scrapy. You can see an example of a scrapy script I wrote [here](https://github.com/Japan-Digital-Archives/JDA-scripts/blob/master/xml_spider.py). If you look at the JSON string that it creates, in context of the [Adding Data to the Archive](https://github.com/Japan-Digital-Archives/Japan-Digital-

[2015-01-26 12:34] nickkapur commented on #740
That is my understanding as well, i.e. that we will link to them through the Michinoku API.

[2015-01-27 00:32] meeshmon opened #916 "Add Hidenori Watanave to our partners page"
Hidenori Watanave and the Great East Japan Earthquake Archive　http://shinsai.mapping.jp/

[2015-01-28 11:51] annawada commented on #873
A belated thank you for adding the date/language fields! It is
extremely helpful for the workflow and easy to use.

On 1/21/15, jdaKoko notifications@github.com wrote:

[2015-01-29 03:01] jdaKoko commented on #873
Thank you very much for adding language and dates function.  There are bookmarklet problems in Firefox and Safari.  The calender does not appear in either. In Firefox the scroll down function has disappeared and the web page becomes completely whiite after clicking Add to JDA.
![firebox bookmarklet problem](https://cloud.githubusercontent.com/assets/8831502/5951656/081bc240-a738-11e4-8877-b8d7b6f6

[2015-02-05 15:58] corinnecurcie commented on #786
Last night I exhausted all options for trying to recover the images and the headlines you mentioned Ryo, and I wasn't able to do it unfortunately. So we will have to wait for AJW.

[2015-02-06 06:33] theannielin commented on #916
Is there a description or something I can add to to partners page for Hidenori Watanave and the Great East Japan Earthquake Archive? I only put the titles (for my latest pull request).
Also, if there are descriptions, are there also translations?
Thanks!

[2015-02-06 07:08] meeshmon commented on #916
Thanks Annie for this. I will ask Watanave to provide us with the description of the archive in both Japanese and English. I will let you know when I receive it.

[2015-02-06 20:15] #738 closed

[2015-02-06 20:16] #915 closed

[2015-02-06 20:25] corinnecurcie opened #921 "add format filtering to front page search bar"

[2015-02-06 20:31] theannielin commented on #741
I made a new account for NPR, with the user id 573.

[2015-02-06 20:33] corinnecurcie commented on #743
Hi @nickkapur  - where can we find these?

[2015-02-06 20:42] corinnecurcie commented on #856
unsure if this is fixed??

[2015-02-06 21:32] jdaKoko opened #922 "Dragged items in the collection are appearing on the admin page and the profile page."
I created a collection, http://jdarchive.org/en/collection/1952783, which is not published.
The dragged items in my collection box are appearing in my profile page,http://jdarchive.org/en/user/421.
In addition, the dragged items,ID 1952784 ~1952802, are appearing on the admin dash page.
Both phenomina crowd the profile page and the admin dashboard. Unwanted extra items on the admin dashboard slows

[2015-02-07 16:10] jdaKoko opened #923 "bookmarklet language problem"
When I tried to submit aseed using bookmarklet, I get a message saying "Please select a language before submitting" although I selected the language before submitting.
I was using the browser Chrome.

[2015-02-07 16:19] jdaKoko opened #924 "Bookmarklet problems in Safari"
Bookmarklet is not recognaizing uri, category, and language in Safari.
I was trying to submit a PDF.
![safari uri test](https://cloud.githubusercontent.com/assets/8831502/6092757/ff089b94-aeba-11e4-995c-e92be520410c.png)

[2015-02-07 17:37] jdaKoko commented on #924
The bookmarklet problem in Firefox is the same as Safari.  No calender function, either.
Thank you!
![firefox uri test](https://cloud.githubusercontent.com/assets/8831502/6093020/d112be62-aec5-11e4-8c65-eb7899fdb787.png)

[2015-02-11 21:22] nickkapur commented on #743
Hi @corinnecurcie!

So you can find the latest videos at https://www.youtube.com/user/recorder311/videos.

At some point, we stopped archiving the new ones, but I was told we have permission to archive all of them.

I think the issue is that basically we just manually put these in a couple times, but they keep adding new ones.

We either need to have a chron job checking this every so often (proba

[2015-02-14 00:14] jdaKoko opened #927 "testimonial pop-up:: tag N;"
We got some testimonial submissions, ID1953896~195390, &1953903.
In their pop-ups, N; tags are showing up when there is no tag in the fancybox as well as in their item pages.
Expample ID1953896
Edit page: http://jdarchive.org/admin/zeega/data/item/1953896/edit
Item page: http://jdarchive.org/en/item/1953896

![n tag problem in testimonials](https://cloud.githubusercontent.com/assets/8831502/619741

[2015-02-16 22:45] jdaKoko opened #928 "Tags: tags disappeared from pop ups ID 194900 &"
Tags are disappearing from pop-ups in some items, for example, ID 1948998 &1949004.
I do not know how many other items have developed the same phenomenon.
Both of the examples above were submitted using bookmarklet.
The edit and items pages have the tags.
http://jdarchive.org/admin/zeega/data/item/1948998/edit
http://jdarchive.org/admin/zeega/data/item/1949004/edit
I updated both edit pages by cli

[2015-02-20 02:01] #741 closed

[2015-02-20 02:09] corinnecurcie commented on #928
Hey Koko,

I'm not able to reproduce these. See my attached - both the items you sent me have tags appearing fine. Could you give me more information about what browser you were using, and any other data about how you got to this error? Or could you check if it's still occurring?
![screen shot 2015-02-19 at 9 08 29 pm](https://cloud.githubusercontent.com/assets/3768712/6280464/85b56892-b87b-11e4-9

[2015-02-20 02:38] jdaKoko commented on #928
Dear Corinne,

My pop-ups still do not show tags when I check items in the collection.
http://jdarchive.org/ja/collection/1943014
However, from the search page I can see the tags.
Koko

![tag problem](https://cloud.githubusercontent.com/assets/8831502/6280528/d441c3ba-b87c-11e4-892c-e68b570f3f4c.png)
![tag 2](https://cloud.githubusercontent.com/assets/8831502/6280636/cf17e96c-b87e-11e4-9050-03f574

[2015-02-20 19:33] corinnecurcie commented on #927
Hey Koko,

The problem is fixed in that "N;" tags won't show up anymore on the site - sometimes they may show on the backend still (for example if you add a tag to one of the N;-tagged items, even though the N; tag wasn't previously showing up in admin dashboard, the N; tag and the new tag will then show up on the dashboard.)

I'm going to work on editing the testimonial submission form so that we

[2015-02-20 19:33] #927 closed

[2015-02-20 20:12] corinnecurcie commented on #928
Hey Koko,

I was able to recreate the issue in my collection, but with only one of the items. Can you keep reporting items that do this as you find them, so I can figure out the root of the problem? Thank you!

[2015-02-20 20:17] #717 closed

[2015-02-20 20:21] theannielin commented on #793
When you move the left slider for the first time, there doesn't seem to be a problem. After that, the number doesn't update. The number seems to be tagged by "zeega-results-count-number", but I'm not sure what would differentiate the right slider from the left slider from looking at all the things that change it in the code (basically this file: /web/js/app/views/collections/jda.view.collection.re

[2015-02-20 20:31] #855 closed

[2015-02-20 20:41] jcuanm commented on #718
I have been able to drag items into the slot with continuous success, so I do not know if the problem is fixed yet or not.

![image](https://cloud.githubusercontent.com/assets/8813674/6308988/e296d5be-b916-11e4-8aa4-ee638913f9ab.png)

[2015-02-20 20:52] corinnecurcie commented on #899
All of these outside sites have a property called 'X-Frame-Options' which are being set to values that don't allow us to display the website on our site. So it's an issue on the other sites end, which we can't really get around, but we can try to detect that property and not attempt to display the website, and just display a link or an image instead.

Ryo is going to try to talk to Kahoku about th

[2015-02-20 20:55] #921 closed

[2015-02-20 23:40] jdaKoko commented on #855
Thank you!

[2015-02-20 23:41] jdaKoko commented on #928
Yes!
Thank you for taking a look!

[2015-02-20 23:43] jdaKoko commented on #927
Thanks again!

[2015-02-21 12:32] jdaKoko opened #941 "Solr reset request: >ID1955152 are not appearing on the JDA search"
After the NPR (ID1955136~1955151) import on 2/20/15, no new seeds are appearing on the JDA search.

[2015-02-25 03:50] nickkapur commented on #717
I think if the site works fine on IE 9 through 11, than that is good enough. IE 8 is super old.

[2015-02-25 17:50] #941 closed

[2015-02-25 18:38] jdaKoko commented on #941
Thank you!

[2015-02-26 21:48] meeshmon opened #942 "Add additional language fields to Bookmarklet"
Add "French" and "Others" to the bookmarklet language field.

[2015-03-02 03:26] corinnecurcie commented on #729
I set up a cronjob to re-index Solr once a day at around midnight, and it appears to have worked last night based on the log files so I think it's good to go. I can set it to be less often or more often, or at a different time of day if anyone thinks that would be better, but I think this is definitely better than manually re-indexing.

[2015-03-02 03:26] #729 closed

[2015-03-02 22:25] nickkapur commented on #886
I took a look at this and was unable to replicate this bug on two different Microsoft machines running chrome. Kazuko often had trouble with things like this in the past. Without a more specific rundown of the problem, we may have to chalk this up to a temporary situation on Kazuko's specific machine, although we should keep any eye out for any future recurrence. Closing this issue for now but #71

[2015-03-02 22:25] #886 closed

[2015-03-02 22:26] #704 closed

[2015-03-05 15:13] corinnecurcie commented on #720
Thank you Zahra this looks great!

[2015-03-05 15:13] #720 closed

[2015-03-12 14:23] corinnecurcie opened #949 "Take out "view presentation" and "edit presentation" links"

[2015-03-12 14:26] corinnecurcie opened #950 "Sorting by most recent/oldest does nothing"

[2015-03-13 19:27] #718 closed

[2015-03-13 19:29] corinnecurcie opened #951 "Should we get rid of the "drag items here to add to your collection" box if user is not logged in?"
Currently, the right-hand box for collection building pops up, but users can't actually drag anything there because they're not recognized as users (logged in). So it just looks like the feature doesn't work. Alternatively, we could have text appear saying "Please log in to drag items to your collection!" or something.

[2015-03-13 20:53] theannielin commented on #827
@corinnecurcie Is there a file where what can be saved is determined?

[2015-03-18 23:39] meeshmon commented on #951
@corinnecurcie How difficult would it be to let any user (without logging in) to tryout making a collection to see how the archive work? I was wondering if it would potentially get more registered users if we let any user to build collection and give a pop-up prompt something like "register to the JDA to save your collection 'click link' to login page" when the user try going to his/her collection

[2015-03-26 03:30] meeshmon opened #953 "Import Asahi JW data (they have finally resent it to our server)!"

[2015-03-26 03:32] meeshmon commented on #786
Now they have finally resent the lost data. Please import them as soon as we can. @corinnecurcie @theannielin

[2015-03-26 03:33] #953 closed

[2015-03-30 15:39] corinnecurcie commented on #950
the URL is being updated, but the page or at least the articles actually have to be refreshed - when you refresh the page the sorting does work

[2015-03-30 17:29] corinnecurcie commented on #786
Okay, the new data has been added (and photos have been uploaded)! We are still missing old photos from Jan-Aug 2013. I haven't updated the markup text yet either. But the new import looks good and there is no issue with the text from what I can tell.

[2015-03-30 18:46] meeshmon commented on #786
@corinnecurcie Ok wonderful! Make sure to do backup in case something happens to the data before I will tell them to upload another batch. This time we cannot screw up! I will try to assess the timing for asking about the missing photos from Jan-Aug 2013.

[2015-04-02 01:55] corinnecurcie commented on #786
Yes, I made a backup and everything looks good for this. Also the photo uploading was very simple and it doesn't need it's own separate script, which is good but something that definitely wasn't realized by Harnek and I when we did the previous upload that was all screwed up.

Also, I think I just fixed the HTML issue, so we can close this I think!

[2015-04-02 01:55] #786 closed

[2015-04-02 01:55] #949 closed

[2015-04-03 15:33] corinnecurcie commented on #836
I think this is fixed now. All the items now have the archive field listing "Michinoku Shinrokuden" instead of "Yahoo! Japan" and all the media/layer types list Document/PDF instead.

[2015-04-03 15:33] #836 closed

[2015-04-03 15:40] jdaKoko commented on #836
Thank you!!

[2015-04-03 15:53] corinnecurcie commented on #950
Okay I'm not having the refreshing problem anymore, but then the issue was that tons of things had "NULL" media_date_created fields. When this field is NULL, it displays as whatever today's date is and it comes up as the first thing listed when you sort by "oldest". So we would see today's date being listed as the oldest stuff in the archive whenever we sorted by "oldest", which is definitely conf

[2015-04-03 15:53] #950 closed

[2015-04-03 18:10] corinnecurcie opened #954 "Adjust header to zoom when page size changes in Japanese"
Header is moving onto 2 lines, this blocks out search bar

[2015-04-03 18:23] corinnecurcie opened #955 "Talk with Jessica about "import to waku" link"
Pass through collection number to Waku (even after google authentication)

[2015-04-03 18:25] nickkapur commented on #786
Hooray! Glad this got figured out and was not as bad as we thought.

[2015-04-06 02:01] corinnecurcie commented on #951
Okay I actually realized, it already does let not-logged-in users make collections! When you're not logged in, you can drag items over, and then a small link comes up at the bottom of the box saying "Save Collection", which prompts you to log in, and then when you log in, it does save that collection! What a handy feature, haha. So do you think this is good? My original worry in making the issue i

[2015-04-06 02:01] #951 closed

[2015-04-06 02:02] corinnecurcie commented on #955
Email sent

[2015-04-07 02:41] meeshmon commented on #873
@corinnecurcie  Add an additional language field [Others] to Bookmarklet to fix an issue where the users who try to upload a content in a language other than the four listed can complete an entry.

[2015-04-16 17:06] corinnecurcie commented on #922
So these items existed on our site before, but when you dragged them to the collection, it duplicated them in our database? Very strange! I will look into this.

[2015-04-16 17:18] jdaKoko commented on #922
Yes your understanding is correct.  Thank you for looking into the problem. The duplicate seeds, which do not need to be exported, also show up on the export page.

[2015-04-27 19:38] jdaKoko opened #956 "Please add names to the team page"
To http://jdarchive.org/en/team
Please add two names to the JDA team pages under webseed curation.

Kae Nakahashi, Showa Boston Institute for Language and Culture
Yumiko Takeda, Showa Boston Institute for Language and Culture

To http://jdarchive.org/ja/team
Kae Nakahashi（昭和ボストン　中橋佳恵）
Yumiko Takeda（昭和ボストン　竹田有美子）

[2015-04-27 19:45] jdaKoko opened #957 "Pop-up fancy box"
The pdfs appear differently on the fancy box in Chrome and Firefox.
Pdf links appear very small in the Chrome while Firefox is OK.
![chrome-pdf](https://cloud.githubusercontent.com/assets/8831502/7356126/350f16ba-ecf4-11e4-9ff5-6a70efad93e7.png)
![firefox-pdf](https://cloud.githubusercontent.com/assets/8831502/7356129/360d217e-ecf4-11e4-9f1c-5d56204f019c.png)

[2015-05-05 18:54] meeshmon commented on #955
Integration of Waku into JDA so that the user can access Waku directory from the collection page.

[2015-05-08 11:36] jdaKoko opened #979 "Bookmarklet "Add to JDA" problem"
I submitted several monthly archived seeds.  The auto fill function did not load full url and the edit page only have partial uri*
e.g.
I submitted
http://mptest.marinepia.co.jp/wp/?cat=3&ym=201412
but the edit page shows.
http://mptest.marinepia.co.jp/wp/?cat=3
![autofill problem](https://cloud.githubusercontent.com/assets/8831502/7535542/69349e34-f554-11e4-80fc-2d1aa22d022f.png)

[2015-05-08 14:57] meeshmon opened #980 "Import Asahi JW May 2015 data"
Their April data is ready to be imported.

[2015-05-11 17:19] meeshmon commented on #956
@rchen152 @theannielin @zahramahmood @jcuanm
 I know it is the finals' week but if one of you can quickly take care of this,
it'd be much appreciated!

[2015-05-11 17:48] rchen152 commented on #956
I'm done with finals, so I'll have this done in a moment!

[2015-05-11 17:51] jdaKoko commented on #956
Thank you very much!

[2015-05-11 20:44] rchen152 commented on #956
Should be done with https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/pull/981!

[2015-05-16 19:32] jdaKoko opened #982 "Cannot close for the "New Users" pop-up."
The new addition of the "New User" pop-up does not close when I click "X" in Chrome. It is a big problem when you need to contribute using the contribute page.
![close function not working](https://cloud.githubusercontent.com/assets/8831502/7667683/86081980-fbd7-11e4-9893-67642e65a8e9.png)

[2015-05-16 19:42] meeshmon commented on #982
@rchen152 @jcuanm @theannielin @zahramahmood
One of you please work on this as soon as you can. Thanks!

[2015-05-21 16:34] jdaKoko commented on #982
Clearing browsing data in Chrome sloved this problem.

[2015-05-21 16:34] #982 closed

[2015-06-06 11:55] jdaKoko opened #984 "Pop-ups on the map do no show tags."
I have noticed that pop-ups on the map do not have tags, whereas the regular pop-ups in the regular search show tags. Both English and Japanese pages have the same results. I got the same results in Chrome and Firefox.

The example id 709691
The admin edit page: http://jdarchive.org/admin/zeega/data/item/709691/edit

![pop-up_no tags in the map](https://cloud.githubusercontent.com/assets/8831502/8

[2015-06-08 15:29] horak commented on #954
What browser is this happening in, I'm unable to replicate?

[2015-06-08 15:39] horak commented on #955
Could this be accomplished with a little bookmarklet that would be pressed on a collection page and open up the waku site?

What type of access are you thinking here?

Another idea might be to throw wacu into an iframe on JDA but that'll most likely not be very pretty. @jessyurko, are there any specific reasons you built wacu separately?

[2015-06-08 15:50] jessyurko commented on #955
Yes definitely. One issue I can think of might be confusion between this and the "add to jda" bookmarklet, but worth thinking about pros/cons compared to a direct link from a collection page.

I suspect the ability to create new waku projects from that collection, see existing public wakus made by other users from that collection, see any of your own wakus created from that collection.

To have mo

[2015-06-08 18:19] horak commented on #954
Not replicable.

[2015-06-08 18:19] #954 closed

[2015-06-09 02:15] jdaKoko opened #985 "images from collections disappeared."
37 images from collections disappeared.  ![images disappeared](https://cloud.githubusercontent.com/assets/8831502/8048954/223c88da-0e26-11e5-82cb-2e1964fc3bf8.png)
There are two phenomena:
1. Those images are from Yahoo Images; http://jdarchive.org/en/user/3.
My record says that the number of yahoo images on 5/17/15 was 40,061, but it has changed to 40,044.
2. All the collections for which the ima

[2015-06-10 14:46] horak commented on #985
Ok i'll check this out!

[2015-06-11 03:05] jdaKoko opened #986 "Sukura on Project, images and "View Source" links have problems"
http://jdarchive.org/ja/user/427

[2015-06-12 05:14] meeshmon commented on #980
Their May data is ready to be imported.

[2015-06-12 23:09] horak commented on #980
Cool, i'll do that next week.

[2015-06-16 14:46] horak commented on #980
What's the path where they drop this data into?

[2015-06-16 16:26] meeshmon commented on #980
https://github.com/Japan-Digital-Archives/scripts/wiki/Asahi-Asia-&-Japan-Watch-Import-Notes

[2015-06-16 16:48] horak commented on #980
That link doesn't work but I found it! I'll added a wiki page for future reference to it's location and the Asahi import process.

[2015-06-16 18:40] meeshmon commented on #980
@horak Can you try the link again? I just added you to the list of owners.

[2015-06-16 19:19] horak commented on #980
Sweet :+1:

[2015-06-16 23:37] horak commented on #980
Ok running into a bit of problem, maybe you can help me out here @meeshmon:

I've imported the data properly according to the S3 & Sonata. Unfortunately I'm not seeing that data reflected properly on [my dev instance](http://dev.jdarchive.org/alex/web/en/user/468). What would you recommend I do here? It is interesting to note that corinne's [dev instance](http://dev.jdarchive.org/corinne/web/en/us

[2015-06-17 01:43] meeshmon commented on #980
hmm maybe there is a step corinne did not put in the wiki.
@horak Do you have a note from the time when corinne went over this with you that
might indicate what needs to be done? If not the next step would be to contact corinne.

[2015-06-17 01:58] corinnecurcie commented on #980
Hi Alex,

You have to index solr afterwards, as is described here:
https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/wiki/Adding-data-to-the-archive#importing-to-production

Sorry I forgot to include it on the Asahi instructions - it's the standard
workflow for all content imports so I forgot! Once you reindex solr (and
make sure youre on the production solr through localhost, not de

[2015-06-17 02:03] corinnecurcie commented on #980
Oh, I see you're talking about your dev instance. In that case, you DO want
to reindex on dev, described in the previous section to the one I linked,
"general data import workflow".

Also as I mentioned in our meeting, I've found that importing on the dev
server often imports to the production database as well. So you should
check whether the content has appeared on the production server, because

[2015-06-17 02:20] corinnecurcie commented on #985
jdarchive.org/admin/dashboard, as noted here
https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/wiki/Adding-data-to-the-archive#viewing-data-through-admin-dashboard
!

On Wed, Jun 10, 2015 at 7:46 AM, Alex Horak notifications@github.com
wrote:

##

Corinne Curcie
Harvard University
Class of 2015
Computer Science

[2015-06-17 14:57] horak commented on #980
Yeah the dev db ingestion went well, that's what's so strange:
`Ingestion complete. 34 items added to the database. 0 items updated. 0 duplicates found.`

The solr index on DEV was also successful:
![solr-dev](https://cloud.githubusercontent.com/assets/1111424/8209845/389fc962-14dd-11e5-971e-ace837e6f11f.png)

And as you mentioned it might, my data import into dev actually shows up in the Sonata A

[2015-06-17 15:02] horak commented on #985
@jdaKoko, let's discuss this on Thursday so I have a better idea of what's going on here.

[2015-06-19 15:52] horak commented on #980
@corinnecurcie So I'm thinking that what happened is that the data was _only_ uploaded to the production db and _not_ the development db. But again, not sure exactly where the dev db is located. There are two instances on RDS, `jda` & `zeega` but neither seem like a dev one (and I don't have the credentials to check the `zeega` instance. Let me know what you think!

[2015-06-20 14:55] jdaKoko opened #988 "Team Page, http://jdarchive.org/en/team, changes requested"
1. Kae Nakanishi finished her internship on 6/19/15. Therefore, her name should be listed under Team Alumni.
English page: http://jdarchive.org/en/team
Please change from
Web Seed Curation: Kae Nakahashi, Showa Boston Institute for Language and Culture

to Team Alumni
Kae Nakahashi, Showa Boston Institute for Language and Culture: Web Seed Curation

Japanese page: http://jdarchive.org/ja/team
From

[2015-06-20 15:43] jdaKoko opened #989 "My collection box does not show all collections"
I have 143 collections under user name Kim, http://jdarchive.org/ja/user/421.  My collection box only shows 114 collections. I cannot open between id913885~913915. Therefore, I cannot add new items to those collections.
If there is a limit to the number of collections each user can create, we should specify that to users.

I already have four user name accounts.  I do not want to create more user

[2015-06-20 20:41] meeshmon commented on #988
@rchen152 @jcuanm @theannielin @zahramahmood
Can one of you take care of this?

[2015-06-20 22:44] jdaKoko commented on #986
1. It seems many items' jpg urls have been changed.  We have to change the uri and thumbnail uri fields to get images from the original webpages.
2. In addition to that, "View source" links in the pop-up should link to attribution uris in user 427 image items so that users can see the original webpages. Right now, "View soruce" links in the pop-up are linked to uris.
3. The good news is in the JDA

[2015-06-20 22:52] jdaKoko commented on #986
For example: id 913982
http://jdarchive.org/admin/zeega/data/item/913982

The inital uri and thumbnail uri were http://25.media.tumblr.com/8a8eaf69a25864f90105f7fb2a1ccd5d/tumblr_mgmg1vYu4E1rgpt92o1_500.jpg.
I changed it to http://36.media.tumblr.com/8a8eaf69a25864f90105f7fb2a1ccd5d/tumblr_mgmg1vYu4E1rgpt92o1_500.jpg
Now, the image shows up on the pop-up.
![user 427 id913982 after the fix](https:/

[2015-06-21 18:58] jcuanm commented on #988
I can take care of this

On Sat, Jun 20, 2015 at 1:41 PM, meeshmon notifications@github.com wrote:

##

Javier Cuan

[2015-06-21 20:48] jcuanm commented on #988
I was able to remove and add her name onto the page. However, I hard-coded
her name onto the alumni page, which looks really ugly within the code.
I'll need to learn how to use the translation system that twig is using,
before I can make the code prettier. But the job is done!

On Sat, Jun 20, 2015 at 1:41 PM, meeshmon notifications@github.com wrote:

##

Javier Cuan

[2015-06-22 05:00] jdaKoko commented on #988
@jcuanm
I do not see any change in the team page. Could you take a look?
http://jdarchive.org/en/team
![no_change in team page](https://cloud.githubusercontent.com/assets/8831502/8275730/bc14b0ba-1879-11e5-98c3-143588be8541.png)

[2015-06-22 06:02] meeshmon commented on #988
@horak Can you push the request?

[2015-06-22 16:53] horak commented on #988
@jdaKoko, you won't be able to see those changes until I merge them. @meeshmon, I just made some code recommendations @jcuanm should fix before I merge.

[2015-06-22 17:29] horak commented on #989
Looking into this now!

[2015-06-22 18:01] jcuanm commented on #988
I was able to successfully add her name onto the page using translations. Should I commit my changes?
![image](https://cloud.githubusercontent.com/assets/8813674/8288866/acb649ea-18cd-11e5-90a5-e02b657b8135.png)

[2015-06-22 18:13] horak commented on #989
Koko, it would be great to be able to login in to your account to test this out firsthand and see what errors are thrown, do you think you could change your password and maybe provide the credentials in an email for the account that's giving you trouble?

[2015-06-24 03:14] meeshmon commented on #980
@corinnecurcie I know you are busy but can you advice Alex on this ASAP? In a week or so, AJW will upload another batch of their headlines.

[2015-06-25 23:11] horak commented on #955
Ok I added a little (admittedly ugly but hopefully style conforming) dialogue window to help tell new users a little bit about waku. Jessica, what do you think that text should read?
![screenshot](https://cloud.githubusercontent.com/assets/1111424/8367591/d73aa538-1b6d-11e5-8d08-82404fbd19ef.png)

[2015-06-28 18:35] #988 closed

[2015-06-29 14:50] jessyurko commented on #955
I like this text! Maybe capitalize "Create Waku"? Also, let's think about icons -- I'll look through font awesome / noun project and see if I can find anything.

[2015-06-29 19:39] horak commented on #955
@meeshmon, Jess said this little text blurb should be fine to use, here is what google translate tells me, can you audit?

Wakuにこのコレクションを使用して、メディアリッチな物語を構築します。Wakuがキュレーションとプレゼンテーションのためのストーリーテリングプラットフォームです、それは試してみます！

[2015-06-29 19:57] meeshmon commented on #955
Waku使うことによって、このコレクションをマルチメディアな物語へと構築することができます。Wakuはキュレートされた震災記録から個人の物語を紡ぎ、発表、シェアできるプラットフォームです。ぜひお試しください!

[2015-06-29 20:27] horak opened #991 "Stale branches"
@ebensing, these have been out of use for a while, may I prune?

![stale](https://cloud.githubusercontent.com/assets/1111424/8417625/bcf3e3d6-1e7b-11e5-9ab0-76f10a57d692.png)

[2015-07-01 22:15] horak commented on #955
Ok great this is all ready to go. Jessica, let me know when you find an icon you like!

[2015-07-02 21:00] horak commented on #991
Done.

[2015-07-02 21:00] #991 closed

[2015-07-08 22:11] jdaKoko opened #993 "Bookmarklet submission bugs in title."
Titles show coding when they contain " and ' when users contribute using bookmarklet.

<Example 1>
http://jdarchive.org/admin/zeega/data/item/1981084/edit
![bookmarklet submission_title_bug](https://cloud.githubusercontent.com/assets/8831502/8583399/5693cf5e-2608-11e5-9203-98ec301e70a4.png)

<Example 2>
http://jdarchive.org/admin/zeega/data/item/1981055/edit
![bookmarklet submission_title_bug_ 2](

[2015-07-09 00:46] meeshmon commented on #993
@theannielin @jcuanm @rchen152 who wants to work on this?

[2015-07-11 06:08] jdaKoko opened #994 "Solr reset request: please reindex"
There is a similar problem to #863&#941
Published seeds on 7/11/15 (>1982126)are not appearing in the JDA search.

[2015-07-13 18:51] meeshmon commented on #955
Any update on this issue?

[2015-07-17 16:35] #810 closed

[2015-07-17 16:46] horak commented on #955
Cool, I merged this and it's live. We can replace the icon and style later on.

[2015-07-17 16:46] #955 closed

[2015-07-17 16:50] horak commented on #993
@rchen152 I assigned you for now, let me know if you run into any trouble!

[2015-07-17 16:51] horak commented on #989
@jdaKoko, think you could do the above?

[2015-07-17 17:52] horak commented on #980
@corinnecurcie so I went through [general import flow](https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/wiki/Adding-data-to-the-archive#general-data-import-workflow) again today just in case I missed something but unfortunately turned up with similar results: I have no way of confirming the imported data shows up properly on my dev server. User 468 [doesn't show any collection data

[2015-07-17 19:35] corinnecurcie commented on #980
That does sound like a problem with the dev database, which wouldn't surprise me since that thing has always been a mystery to me. If you copy just 2 or 3 of the json entries into a file with the proper "items" array and syntax, and upload that to production, you can test that import without breaking anything. When you see the new data both in the admin dashboard and on user 468's page without any

[2015-07-17 21:13] horak commented on #994
Ok I re-indexed, let me know if that fixes this.

[2015-07-17 23:23] jdaKoko commented on #994
Thank you very much! It is fixed now.

[2015-07-18 15:18] horak commented on #994
Great!

[2015-07-18 21:52] horak commented on #980
I see ok that's a bummer but will do, thanks!

[2015-07-20 15:06] #980 closed

[2015-07-20 15:07] horak opened #995 "Import Asahi July"

[2015-07-21 16:07] horak commented on #993
@rchen152 does that work for you? It looks like those characters are not being decoded properly.

[2015-07-21 17:09] horak commented on #989
@jdaKoko, so you're unable to locate collections you made early on, but you are able to access your latest collections correct? Do you have this exact same problem with your other accounts or is this limited to only your 421 account?

[2015-07-21 17:15] horak commented on #923
@theannielin think you could try to replicate and try to figure this out?

[2015-07-22 12:24] jdaKoko commented on #989
@horak  Yes, you are correct. my other account "Koko Howell" has the same problem.  http://jdarchive.org/en/user/407
![filtering koko howell collection](https://cloud.githubusercontent.com/assets/8831502/8825146/c7da535e-30b7-11e5-813a-693612123755.png)
The Koko Howell account contains 116 collections, but the first 13 collections (id 885180 ~ 1475720) are not showing up on the collection box.

[2015-07-22 17:21] horak commented on #989
I see, ok cool well at least it's consistent, that'll make it easier to solve. @jcuanm, I think the first step here is figuring out if all 143 collections are actually being sent over in the network request!

[2015-08-22 03:08] jcuanm commented on #989
I am currently trying to figure out how the collection box works to better see how I can solve the problem.

As a side note, whenever I login to my account on my dev server, the page shows "none" instead of my username. This is only a problem on my dev server, not on the actual site.

![image](https://cloud.githubusercontent.com/assets/8813674/9422222/5cede614-4840-11e5-8399-f4bf66b3889a.png)

[2015-08-22 03:18] jcuanm commented on #989
Furthermore, in my dev server, every time I login and navigate to a new page, I am automatically logged out. The weird thing is that I do not experience this problem on the actual website (even though I have pulled from the upstream and updated my dev server).

[2015-08-22 03:30] jcuanm commented on #989
Also, on the actual JDA site, while I try to add new items to my collection box, they are not added. They just float back to their original position on the page.

Unrelated Question: How does one delete a collection item?

[2015-08-22 04:06] jcuanm commented on #989
Actually, I've been playing with the original site and now the drag-and-drop feature for adding items to collections works fine. I don't know why...

[2015-08-22 04:29] jcuanm commented on #989
Figured out that the items that are in the explore page run from oldest to newest posts. This also corresponds to the id that the posts have: the larger the id is, the older the post is.

[2015-08-22 05:21] jcuanm commented on #989
Found that the collection box stops updating/adding the correct number of items after 100. After 100 posts are added, things start getting weird. The items that are added to the collection box are indeed added to the collection; however the number in the collection box reverts to 97 (100 items if you count the 3 items that are displayed in the collection box) whenever you refresh the page. If you

[2015-08-22 07:30] jdaKoko commented on #989
@jcuanm
Thank you very much for figuring out the problems with the collection box. It's been bothering me for a while. Actually, however, my request is about yet another problem. I have gathered quite a lot of collections on various topics (each with varying number of individual items) under 5 different user names. Two of my user names Kim and Koko Howell have quite a lot of collections. The one I

[2015-08-22 20:06] jcuanm commented on #989
@jdaKoko
I apologize but I'm still a little confused as to which collection box is being referred to. When you refer to your collection box, are you referring to the one highlighted in red here:

![image](https://cloud.githubusercontent.com/assets/8813674/9425671/f8a822bc-48cd-11e5-98fb-0de1c150174a.png)

And the set of individual items is this entire section:

![image](https://cloud.githubusercon

[2015-08-22 22:37] jdaKoko commented on #989
@jcuanm please read the issue I assigned originally.  If you do not understand, I can meet you in person in September.

[2015-09-01 01:51] jdaKoko opened #996 "No Collection is appearing on the JDA site."
The collection page is not loading any collections.  No collection is appearing the top page.

[2015-09-01 01:52] jdaKoko commented on #996
![no collection](https://cloud.githubusercontent.com/assets/8831502/9594584/9a3720c0-502a-11e5-8558-fc61342699ba.png)

[2015-09-01 04:54] meeshmon commented on #996
@corinnecurcie @horak
can you guys take a quick look to see what the problem is?

[2015-09-01 12:01] horak commented on #996
@meeshmon, @corinnecurcie I'm 500 on network requests and getting :

`"Solr HTTP error: HTTP request failed"`

Unfortunately restarting solr doesn't fix the problem. Still investigating.

[2015-09-01 12:13] horak commented on #996
Getting this guy ![solr](https://cloud.githubusercontent.com/assets/1111424/9603820/5fbb6b0c-5081-11e5-9664-f790d515a0d9.png)

[2015-09-01 19:35] nickkapur commented on #996
This is odd. Collections were working fine on Friday! Normally we fixed this by simply restarting/reindexing Solr. That is usually pretty easy. Is the problem here that we cannot even restart Solr?

[2015-09-01 20:00] nickkapur commented on #996
Oh, okay, I see. Somehow the SolrCores are not being recognized. So either you would need to create the cores, or change the <cores> part of the solr.xml file located at the root of where your Solr index is running, so that Solr can recognize the cores.

Some more info is here: http://wiki.apache.org/solr/CoreAdmin

[2015-09-02 15:05] horak commented on #996
Thanks @nickkapur, so using that resource I tried creating the cores using

[code]

but that just gives me the same problem:

[code]

I don't know where else I'd point `instanceDir` towards, it seems to be pointing to the right place. I think the problem rests with the `updateHandler`. I think the solr instance just crashed somewhere in executing this update and is unable to restart because of the

[2015-09-02 16:23] nickkapur commented on #996
Yikes. This seems a bit crazier than anything we had to deal with before. That said, Solr was always crapping out on us and needing to be reindexed at random times, even when we hadn't pushed any updates in weeks or months, so I have a very poor and very lasting impressing of Solr and its instability.

[2015-09-02 16:26] corinnecurcie commented on #996
Hey all,
Sorry for my lack of responses. I will take a look at this tonight after work!

[2015-09-02 16:45] jdaKoko commented on #996
Just for the record:
Dear Alex,

Thank you for working to fix the problem.

It seems the JDA site was working a little while ago (9.2.15 around 11:00 am), but the total search item number was missing about 18,689 items.
Recently made collections were not appearing on the collection page.
The Headline (user 426) and RIJS (user 1) items were missing about 18,677 items from the JDA search.  I could n

[2015-09-02 17:13] horak commented on #996
Ok got it back up but definitely needs to be re-indexed, which i'm doing now.

[2015-09-02 19:49] horak commented on #996
@jdaKoko can you tell me where you are getting that total count? I re-indexed a few times but it keeps breaking :/

[2015-09-02 20:58] jdaKoko commented on #996
@horak Right now, the total count of published items on the admin page is 1,479,775.

[2015-09-02 22:13] jdaKoko commented on #996
@horak
FYI
It seems > id1971038 are not appearing on the search.

[2015-09-02 22:59] horak commented on #996
Still unable to re-index ugh

[2015-09-03 16:52] meeshmon commented on #996
@corinnecurcie did you have a chance to take a look?

[2015-09-03 16:55] horak commented on #996
I finally got a re-index to succeed.

![screenshot at sep 03 11-21-41](https://cloud.githubusercontent.com/assets/1111424/9664541/321998d0-5230-11e5-82d1-769573ea3a95.png)

[2015-09-03 16:59] jdaKoko commented on #996
Thank you very much!
![hooray](https://cloud.githubusercontent.com/assets/8831502/9665039/99b07f44-523b-11e5-9867-577532b1ff84.png)

[2015-09-03 20:06] horak commented on #996
Unfortunately I'm still seeing lots of errors @jdaKoko, have you checked the total item count? I don't think they're accurate :/

[2015-09-04 00:32] corinnecurcie commented on #996
I took a look last night, and it's definitely a more extreme problem than most things we've dealt with before... I wasn't able to figure out much, but I can look again tonight. Have you updated any apache or solr stuff Alex? The last time the database broke this badly was because I was prompted to update one of them upon logging into the production server, and I was naive and thought updating was

[2015-09-04 03:17] meeshmon commented on #996
Ok good to know that this is an extreme problem. I mean not good but at least we know this needs a serious attention. Do let us know if you find more about this, and what you think the issue might be. Any input would be helpful to think about where to go from here.

[2015-09-04 04:09] jdaKoko commented on #996
@horak
Total account results in 3 items missing.  Right now (9.4.15 @ 12:06 am) it should be 1480312, but it is 1,480,309.  I cannot trace which ones are missing. The total number changes very frequently because people sumit items every day.

[2015-09-04 11:57] jdaKoko commented on #996
Sorry, the site is down again.

[2015-09-04 23:39] horak commented on #996
brought it back up earlier today @jdaKoko. @corinnecurcie, I didn't, in fact I hadn't touched a thing in quite a while. Just got @spacemansteve looped in, feel free to ask for any clarification, the above should give you an idea of what's going on though.

[2015-09-05 17:56] jdaKoko commented on #985
I added the missing images manually to the admin pages.  Thank you!

[2015-09-05 17:56] #985 closed

[2015-09-07 05:36] jcuanm commented on #942
Programs that might need to be changed: seedSubmit.html.twig, widget.html.twig, form.js, messages.en.xliff and messages,ja.xliff.

Further analysis required

[2015-09-07 05:38] jcuanm commented on #942
Just found the translation for "French" and "Others" in Chinese characters

[2015-09-07 06:13] meeshmon commented on #942
Javier, thanks. For French you can put ”フランス語" and for others you can put "その他"

[2015-09-07 23:30] jcuanm commented on #942
Found this Chinese characters that may go more in line with the ones already there since we are not using any kanji.

French  法国語              Other   其他

What do you think?

[2015-09-08 00:28] meeshmon commented on #942
Javier,
You are probably looking at Chinese Chinese not Chinese characters used in Japanese.

[2015-09-11 00:30] jcuanm commented on #942
Ok. Got it.

[2015-09-15 23:02] jdaKoko commented on #994
The same problems as #863&#941.
@horak
It might be a good idea to re-index Solr because 9/10 & 9/14 imports (944 items) from 311 Memories are not appearing on the search.
http://jdarchive.org/ja/user/426
User 426 imports should be automatically updated.

[2015-09-16 17:36] horak commented on #994
Re-indexed!

[2015-09-16 17:57] jdaKoko commented on #994
@meeshmon @horak
Thank you for reindexing, but the user 426's total item number has not changed.
http://jdarchive.org/ja/user/426 should be 402409 not 401465 .
Is this a new problem?

[2015-09-18 17:41] horak commented on #994
@jdaKoko, difficult to tell. Before we can investigate this exactly, we're going to try to figure out problem over in #996 which seems to be causing all the problems, like this. I'm closing this for now.

[2015-09-18 17:41] #994 closed

[2015-09-18 17:41] horak opened #997 "Import Asahi data August"

[2015-09-19 00:31] #997 closed

[2015-09-23 16:13] jdaKoko commented on #781
@meeshmon
Although there are no new O:43: tags in the recent submissions, I just want to make an update on the O:43: tag situation. There are 4,008 items with the tag when text search typing 43 in the JDA site.
However, the O:43: tags do not appear on the edit pages.
I cannot add new tags from admin edit pages unless I get rid of the O:43: tag from the pop-ups.
Very time consuming!

![screen shot

[2015-09-23 17:06] jdaKoko opened #998 "Pop-ups::YouTube Videos submitted through bookmarklet are not playing on the pop-ups."
@meeshmon @rchen152
Rebecca fixed the video problems with issue #887, however similar problems have been occurring again.
YouTube videos submitted through the bookmarklet are not playing in the pop-ups (as shown in the red box in the image below) and thumbnail images (yellow box) do not appear on the JDA site either. These videos play on Waku, so I would like to keep the admin page uris and attrib

[2015-09-25 05:33] jcuanm commented on #923
I tried to recreate the problem and found nothing. Could you elaborate a bit more? Any specific conditions?

[2015-09-25 14:38] jdaKoko commented on #923
@jcuanm @meeshmon
Javier, thank you for working on the issue.
I do not see the problem,either.  I used the bookmarklet using Safari, Firefox and Chrome.  I did not have any problem submitting items.  Let me close the issue right now.  When I see the problem again, I will ask you to look at the bookmarklet.

[2015-09-25 14:38] #923 closed

[2015-09-25 20:03] jcuanm commented on #923
@meeshmon
Sure, no problem.

[2015-09-25 20:31] horak opened #1000 "Collection dragging inconsistent"
Haven't been able to replicate this myself but @adgordon reports that users have been experiencing this intermittently.

[2015-09-25 22:45] jcuanm commented on #873
@meeshmon
I getting familiar with some of the JDA coding. I am trying to access the admin dashboard page at http://jdarchive.org/admin/zeega/data/item/list but I get error message "403 Forbidden". How do you usually access the admin dashboard? Do I need special user privileges to access it?

[2015-09-26 03:33] meeshmon commented on #873
@jcuanm
I tried the link you put the above and was able to access the page.
It must be the case that you need special permission. @jdaKoko Can you give Javier permission?

[2015-09-26 18:19] jdaKoko commented on #873
@jcuanm you're all set to log in the admin dashboard.
Please enter your username and password for the JDA site.
If you need the instructions on how to use the admin dashboard, let me know.
http://jdarchive.org/admin/zeega/data/item/list

[2015-09-27 03:55] jcuanm commented on #873
@jdakoko @meeshmon.
Thanks, I can access the dashboard now. @jdaKoko Could you tell me where can I read about the dashboard that can provide me a little bit of context (instructions, purpose, main users, etc)?

[2015-09-27 04:40] jcuanm commented on #819
@meeshmon
I will look into it.

[2015-09-27 16:17] jdaKoko commented on #873
@jcuanm
I sent the links to your gmail.
https://docs.google.com/presentation/d/1CiZepAOM-A38wbC1mJawu8GA8XmCcnD6T0EaP2emFI/edit?usp=sharing

[2015-10-01 21:27] jcuanm commented on #819
@meeshmon
Made the changes. Will ask Alex to update production site. As soon as Alex updates it check it out and make sure it works fine. I will close this item for now.

[2015-10-01 21:27] #819 closed

[2015-10-03 15:20] jdaKoko opened #1002 "Image: disappeared from the thumbnail."
@meeshmon
http://jdarchive.org/admin/zeega/data/item/1995082/edit
http://jdarchive.org/en/collection/1995081

1.) I submitted an image using the bookmarklet. I edited the image url. But then the image disappeared from the JDA website thumbnail.
I can see the image on the pop-up and in the Waku presentation.
I am also having problems with thumbnail images not showing up for videos.

2.) Could someo

[2015-10-03 22:28] jdaKoko commented on #1002
@jcuanm
5) http://jdarchive.org/en/item/1995082
The image does not appear on the item page, either.
![screen shot 2015-10-03 at 6 24 13 pm](https://cloud.githubusercontent.com/assets/8831502/10265391/2a813112-69fc-11e5-84e4-be0a24e566d6.png)

[2015-10-05 22:39] spacemansteve commented on #996
As noted at https://github.com/Japan-Digital-Archives/Japan-Digital-Archive, Alex and SpacemanSteve increased Solr's ram from 128mb to 256mb on Sept 18th.  SpacemanSteve had to restart Solr again on Sept 19th.  There has been no incident or problem with it in over two weeks.  If there are no problems soon, I will suggest closing this issue.

[2015-10-05 22:48] horak commented on #996
Yeah I think we should go ahead and close it. We can reopen if problems arise. I'm really glad that seemed to have done the trick (and very surprised).

[2015-10-05 22:48] #996 closed

[2015-10-05 22:55] spacemansteve opened #1003 "Dev server only: can not sign in"
Logging in to the dev server when using the correct username and password does not work.  The username is set to "none" and on the next page load the user is logged out.
![jdadevserverloginproblem](https://cloud.githubusercontent.com/assets/957677/10295965/7ad0f30e-6b92-11e5-9ca6-f678bc766612.png)

[2015-10-05 22:57] horak commented on #1003
Just tested and also seeing this happen.

[2015-10-05 23:47] rchen152 commented on #998
The reason for this is that some YouTube videos submitted through the bookmarklet have layer type "outside-YouTube" rather than "YouTube".  Pull request https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/pull/1001/ fixes this for some items (e.g., http://jdarchive.org/admin/zeega/data/item/1990819/edit), but other videos (see http://jdarchive.org/admin/zeega/data/item/1992627/edit) ar

[2015-10-06 01:42] jdaKoko opened #1004 "A Twitter submission using bookmarklet problems"
I made a Google Slide presentation of the problems. Please take a look.
https://docs.google.com/presentation/d/1tJqV_-z5J3PZcgNUzjvyRlEDzSeTdbJ0oPz_Vyllco8/edit?usp=sharing

[2015-10-06 06:57] nickkapur commented on #996
Glad to know this is working! :)

[2015-10-06 16:58] spacemansteve commented on #1003
It started working while I was investigating.  I didn't change anything.  It also started working for Rebecca which is interesting since on dev we're running different code bases from /var/www/username.

I believe authentication uses code from FriendsofSymfony (FOS), which builds on Symfony.

[2015-10-07 12:55] spacemansteve commented on #1003
in src/Zeega/UserBundle/Controller/SecurityController.php:
 $user = $this->container->get('security.context')->getToken()->getUser();
but $user is set to 'anon'

[2015-10-08 03:05] jdaKoko opened #1005 "Tags: the same tag items are not appearing on the tag item search."
I am wondering if the JDA tag function is working.
When I click the tag box on the pop-up page, items that definitely have tags are not necessarily showing up in the tag search.

![screen shot 2015-10-07 at 9 10 53 pm](https://cloud.githubusercontent.com/assets/8831502/10356162/1324d728-6d42-11e5-8cd6-c91310de488e.png)

In this case, clicking 復興の狼煙ポスタープロジェクトresults in zero items. However, there ar

[2015-10-08 04:42] jdaKoko commented on #1005
@rchen152  I discovered that when items are published, they appear on the search.
The tag search of a collection does not work unless items are published.  Let me investigate further.  This is low priority.
Thank you.

[2015-10-11 23:25] horak opened #1007 "Ingest October asahi data"

[2015-10-12 00:01] horak commented on #1003
well that's no good. @jcuanm, do you think you could try fixing this?

[2015-10-12 00:03] horak commented on #1004
@jdaKoko this is an awesome bug report

[2015-10-12 00:46] horak opened #1008 ""Go to collection" button breaks"
I thought this problem was reported already but couldn't find it. This is the one that Sebastian and his japanese students were frustrated by. I'm not able to replicate it but it would be great if somebody on our dev team can. So @Japan-Digital-Archives/programmers, it would be awesome if all of you could do try the following:

1. sign in
2. click `collections`
3. click on a random collection
3. d

[2015-10-15 18:19] jdaKoko commented on #1008
I tested this problem.  I did not have any problem.

[2015-10-15 18:22] jdaKoko opened #1009 "Bookmarklet: 500 Internal Server Error"
@jcuanm I cannot use the bookmarklet function. It results in a 500 message.
Please let me know if you modifying the bookmarklet.
![screen shot 2015-10-15 at 2 15 37 pm](https://cloud.githubusercontent.com/assets/8831502/10523297/b5fbe74c-7347-11e5-89db-f5327a98d48c.png)

[2015-10-16 15:15] meeshmon commented on #1009
@horak @jcuanm can you guys investigate this?
probably happened after the last merge

[2015-10-19 22:36] spacemansteve commented on #1009
The log file at /var/www/jda/app/logs/prod.log contains many entries about bookmarklet:

[2015-10-19 22:24:44] request.ERROR: Symfony\Component\HttpKernel\Exception\NotFoundHttpException: No route found for "GET /bookmarklet" (uncaught exception) at /var/www/jda/app/cache/prod/classes.php line 5219 [] []

This is in the function RouterListener.onKernelRequest.  The exception is handled by:
catch (

[2015-10-19 23:13] spacemansteve commented on #1009
/var/www/jda/src/JDA/CoreBundle/Resources/config/routing.yml contains:
bookmarklet:
    pattern:    /{_locale}/bookmarklet/
    defaults:  { _controller: JDACoreBundle:Bookmarklet:index, _locale: ja }
    requirements:
        _locale: en|ja

[2015-10-19 23:25] jcuanm commented on #1008
It is not letting me drag an item into the collection at all

[2015-10-19 23:25] rchen152 commented on #1009
The bookmarklet displays properly in dev:
http://jdarchive.org/widget
gives 500 Internal Server Error but
http://dev.jdarchive.org/rebecca/web/widget
looks fine.

(The url needs to be changed manually, since the code currently leaves out the "[name]/web/" part when trying to open the bookmarklet in dev - this needs to be fixed.)

[2015-10-22 17:54] spacemansteve opened #1010 "Heatmap: list of items doesn't appear"
Sometimes, after clicking on a heatmap cell no items are displayed.  If the colored heatmap cell was present, there should have been at least one item.  One place where this happens reliably is on the leftmost orange heatmap cell in the attached screenshot.
![heatmapitemlistdoesnotappear](https://cloud.githubusercontent.com/assets/957677/10673447/e080ed60-78c3-11e5-9f41-7a8a5176b295.png)

[2015-10-22 17:55] jdaKoko commented on #956
@jcuanm @rchen152 @meeshmon

To http://jdarchive.org/en/team
Please add two names to the JDA team pages under webseed curation.

Kanami Ohno, Showa Boston Institute for Language and Culture
Maho Yanagisawa, Showa Boston Institute for Language and Culture

To http://jdarchive.org/ja/team
Kanami Ohno（昭和ボストン　大野奏美）
Maho Yanagisawa（昭和ボストン　柳澤真帆）

[2015-10-22 18:00] spacemansteve opened #1011 "Heatmap: clicking on blank map can yield a list of items"
Our maps are not completely covered by items.  Clicking on an area where the heatmap indicates there are no items will sometimes results in a list of items being displayed.  If the heatmap is correct, there should be no nearby items for the pop-up.

[2015-10-22 18:00] spacemansteve commented on #1011
This issue is for the new heatmap feature SpacemanSteve is creating.

[2015-10-22 18:01] spacemansteve commented on #1010
This issue is for the new heatmap feature SpacemanSteve is creating.

[2015-10-22 18:23] spacemansteve commented on #1010
New code committed (https://github.com/spacemansteve/Japan-Digital-Archive/commit/b9457e862e86dd2fa3ebb1d8ff1e9faada977285) and deployed to http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-10-22 18:23] spacemansteve commented on #1011
New code committed (https://github.com/spacemansteve/Japan-Digital-Archive/commit/b9457e862e86dd2fa3ebb1d8ff1e9faada977285) and deployed to http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-10-23 02:48] rchen152 commented on #1009
Submitted a patch (https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/pull/1012) that should fix this.  As int turns out, the reason that the bookmarklet was displaying properly on my dev instance is that I hadn't yet pulled the latest code.  Once I did that, I got the 500 Internal Server Error along with a helpful debug message that told me that there was an illegal byte order mark a

[2015-10-23 13:21] spacemansteve commented on #1010
The above commit has been deployed to http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-10-24 02:53] meeshmon commented on #995
Import Asahi September

[2015-10-26 03:47] horak commented on #1008
are you sure you're on the right page @jcuanm, you need to be listing collection items, not collections themselves

[2015-10-26 03:51] horak commented on #1009
Cool, I just merged this and will push live soon.

[2015-10-26 03:51] #1009 closed

[2015-10-26 21:11] meeshmon commented on #1009
still cannot use the bookmarklet. Getting the same 500 internal Server Error.

[2015-10-26 21:19] rchen152 commented on #1009
I think the fix has been merged but not pushed to production, so the changes aren't live yet.

[2015-10-26 21:22] jdaKoko commented on #873
@jcuanm @meeshmon
We need more list of years, maybe from 2000?
I cannot edit dates in the admin edit pages.

![screen shot 2015-10-27 at 6 15 43 am](https://cloud.githubusercontent.com/assets/8831502/10742798/66c614fc-7c72-11e5-8e91-833aef937c2d.png)

![screen shot 2015-10-27 at 6 13 49 am](https://cloud.githubusercontent.com/assets/8831502/10742804/6d49799a-7c72-11e5-8bf5-6633b7be5cc4.png)

[2015-10-26 21:28] meeshmon commented on #1009
Ok cool. Thanks Rebecca for the note.

[2015-10-27 12:49] spacemansteve opened #1013 "Heatmap: update item count"
The count on the map is not updated properly.  It should be for those items that are on the map and pass the time, keyword and format filters.
![heatmapcount](https://cloud.githubusercontent.com/assets/957677/10758403/7956f5c2-7c87-11e5-8839-8804278950ed.png)

[2015-10-27 12:53] spacemansteve opened #1014 "Heatmap: colors"
The heamap colors do not work well with the basemap.  The grey used for the lowest scale of the heatmap blend in both to the terrain and the buildings.  For example, see the heatmap dot in the center of the attached image.  We need to use more striking colors.
![heatmapcolor](https://cloud.githubusercontent.com/assets/957677/10758478/f8845362-7c87-11e5-9963-2a567a304dfe.png)

[2015-10-27 13:09] spacemansteve opened #1015 "Heatmap: more detail"
The indication of items on the map actually serves two purposes.  When there are hundreds or thousands of items, the heatmap provides a very efficient summary.  However, where there are only dozens or a hundred items a more accurate display is preferred.  This is especially important when very zoomed in.  Items may follow along individual roads or geographic features.  The current large size of th

[2015-10-27 13:12] spacemansteve opened #1016 "Heatmap: capture zone too big"
The user can click on the map to get a pop-up of nearby items.  Currently items from too far away are included in the pop.  The capture zone should be reduce by about on third.

[2015-10-28 03:42] meeshmon commented on #873
@jcuanm can you take a look at this when you have a chance?

[2015-10-28 21:57] jdaKoko opened #1017 "My collection page: dragged items are not loading, cannot edit."
@meeshmon @jcuanm
1.) Items are not loading to collection pages
2.) Editing function is not working
http://jdarchive.org/en/collection/1998442
![screen shot 2015-10-29 at 6 42 05 am](https://cloud.githubusercontent.com/assets/8831502/10804252/e43ab378-7e09-11e5-9577-42d4695e9303.png)

[2015-10-29 00:12] meeshmon commented on #1017
Also @rchen152 and @horak can one of you take a look?

[2015-10-29 04:20] rchen152 commented on #1017
Wondering if it might be this:
https://theeventscalendar.com/support/forums/topic/uncaught-invalidvalueerror-not-an-object/
If you go to http://dev.jdarchive.org/rebecca/web/en/search#view_type=thumb&media_type=Collection& and try to load some of the collections, the first three are just fine, while the fourth one (http://dev.jdarchive.org/rebecca/web/en/collection/884991)
causes the error
Uncaugh

[2015-10-29 05:13] rchen152 commented on #1017
Ok, I'm not getting anywhere with this - will come back to it in a few days when I have more time.  If anyone else wants to take a look in the meantime, the snippet of code that causes the error to be thrown is the following from web/js/app/views/items/jda.view.item.collection-page.js:
new google.maps.LatLng(this.model.get("media_geo_latitude"),this.model.get("media_geo_longitude"))

It blows up w

[2015-10-29 13:39] spacemansteve commented on #1014
Changed colors, the color representing the lowest value probably needs further adjustment.

![screen shot 2015-10-29 at 9 36 54 am](https://cloud.githubusercontent.com/assets/957677/10819862/d4f3a138-7e20-11e5-891d-2f70a6e0fd00.png)

[2015-10-30 16:56] jcuanm commented on #942
The new languages were added to the bookmarklet. I am going to close this issue. Please, let me know if you have further requests for languages.

[2015-10-30 16:56] #942 closed

[2015-10-30 17:04] jcuanm commented on #873
I'm on it.

[2015-11-01 22:06] horak commented on #1009
Live now! Let me know if it persists

[2015-11-01 22:09] rchen152 commented on #956
The new names have been added!  If they look correct, this issue can be closed.

[2015-11-01 22:31] horak commented on #956
Looks go to me!

[2015-11-01 22:31] #956 closed

[2015-11-01 23:17] jdaKoko commented on #956
Thank you very much!

[2015-11-02 19:01] meeshmon opened #1018 "Collection page not loading, Need Solr restart/reindex?"
@horak @spacemansteve

[2015-11-02 21:18] rchen152 commented on #1018
Is this issue different from https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/issues/1017?

[2015-11-02 21:34] meeshmon commented on #1018
You are correct. It is the same. I did not go into the page as a registered user as Koko did.

[2015-11-02 21:35] #1018 closed

[2015-11-02 21:44] jdaKoko opened #1019 "Collection page: the save button is behind the create Waku button when editing the collection page"
http://jdarchive.org/en/collection/1475571
http://jdarchive.org/en/collection/1475579
![screen shot 2015-11-03 at 6 22 15 am](https://cloud.githubusercontent.com/assets/8831502/10895042/5a3eeabe-81f5-11e5-8e31-8897608ae230.png)

[2015-11-02 23:27] rchen152 commented on #1017
Ryo and I troubleshooted this during today's tech meeting, and it should be fixed now.

[2015-11-02 23:27] #1017 closed

[2015-11-02 23:34] rchen152 commented on #1019
This is caused by having too much text in the collection description - perhaps a CSS issue.

[2015-11-02 23:37] rchen152 commented on #1008
Note: Ryo and I were able to reproduce this problem in the tech meeting today by
1) Signing into Koko's account
2) Going to Explore
3) Creating a new collection
4) Dragging items into the collection
5) Clicking Go to collection
(At this point a 404 is triggered)

[2015-11-02 23:51] meeshmon commented on #795
Javier will investigate the issue reported by Koko on missing collections (over 103 or so).

[2015-11-02 23:53] rchen152 opened #1021 "Cannot access bookmarklet on dev server"
On dev, the website looks for the bookmarklet at http://dev.jdarchive.org/widget/, but the url should be http://dev.jdarchive.org/[NAME OF DEVELOPER]/web/widget/

[2015-11-03 22:24] jdaKoko commented on #1017
Thank you!

[2015-11-03 22:52] jdaKoko commented on #1019
When description sentence lines exceeds more than 4 or 5, the Waku boutton starts overlapping the save button.
I enlarged the webpage, the phenomenon happened.
![screen shot 2015-11-04 at 7 46 35 am](https://cloud.githubusercontent.com/assets/8831502/10924183/62cf9b50-82c8-11e5-9da8-b382d3a5be68.png)
![screen shot 2015-11-04 at 7 47 04 am](https://cloud.githubusercontent.com/assets/8831502/1092418

[2015-11-06 08:52] jcuanm commented on #873
@jdakoko @meeshmon.
I was able to access the admin dashboard in the production site at http://jdarchive.org/admin/zeega/data/item/list
and the admin dashboard in my test environment (dev server) at:
http://dev.jdarchive.org/javier2/web/admin/zeega/data/item/list

However, permissions are preventing me from accessing the source code at "dev.jdarchive.org/javier2/web/admin/zeega/data/item/list" in o

[2015-11-06 11:07] jdaKoko commented on #873
@jcuanm

[2015-11-06 22:27] jcuanm commented on #873
@jdaKoko
Thank you.

[2015-11-07 20:49] horak commented on #1008
@rchen152 great! Did this only happen with @jdaKoko's account? She has many, which one?

[2015-11-07 20:58] horak commented on #1019
ah that's frustrating, I just don't have the bandwidth for anything that isn't mission critical right now unfortunately. The css I wrote for this is really simple. @jcuanm, do you think you could look at this?

[2015-11-07 21:14] rchen152 commented on #1008
@horak Yes, the "Go to collection" button worked normally on my account.
@meeshmon Do you remember what the account name was?

[2015-11-08 00:03] meeshmon commented on #1008
@horak @rchen152 koko howell account

[2015-11-08 05:00] jdaKoko opened #1022 "Bookmarklet: please remove "none" from image submissions"
When submitting images using the bookmarklet, the description field always shows "none".
Please remove "none" from the default setting.  It adds an extra work for users to delete "none" when  entering the description in the field.

![screen shot 2015-11-08 at 1 53 26 pm](https://cloud.githubusercontent.com/assets/8831502/11018856/4350f908-8620-11e5-8f30-34ffc92706dc.png)

[2015-11-12 06:54] jcuanm commented on #1022
@jdaKoko @meeshmon
I've looked through the code and could not find any "none" text on the "Description" field.

When I tried to replicate the issue in the Bookmarklet the "none" text did not show.

Then I realize that your screen looks different than mine. If you take a look at my screen you
can see that your screen is missing two fields: Archive Frequency and Archive Scope.

Also, the "none" text

[2015-11-12 06:58] jcuanm commented on #1019
I'm on it.

[2015-11-12 09:45] jdaKoko commented on #1022
I just replaced the bookmarklet.  But it still show none and do not have scope and frequency.
![screen shot 2015-11-12 at 6 45 01 pm](https://cloud.githubusercontent.com/assets/8831502/11115251/87a16a66-896d-11e5-92b8-47ad2e138d61.png)

[2015-11-12 09:52] jdaKoko commented on #1022
Do you have the new version of bookmarklet or the JDA website url?
I use http://jdarchive.org/en/home.

[2015-11-13 00:59] jcuanm commented on #1022
I am accessing:

When in Bookmarklet:     http://jdarchive.org/en/bookmarklet

When hitting "Add to JDA" button: http://jdarchive.org/widget/?title=......

[2015-11-13 02:59] jdaKoko commented on #1022
Do you have the bookmarklet in your bookmark tool bar?
You have to try submitting images from the bookmark tool bar clicking  "Add to JDA".
You can try submitting image using a url below.

![screen shot 2015-11-13 at 11 50 19 am](https://cloud.githubusercontent.com/assets/8831502/11137700/b6596170-89fd-11e5-9440-d19086950016.png)

![screen shot 2015-11-13 at 11 45 49 am](https://cloud.githubuserco

[2015-11-13 17:20] jcuanm commented on #1019
@jdaKoko @meeshmon
Added a css property. Works fine in my system. Will close issue.
@horak, pull request is ready.

[2015-11-13 17:20] #1019 closed

[2015-11-15 02:00] horak commented on #1008
what's the username for that exactly?

[2015-11-15 02:06] horak commented on #1019
merged and live, nice work.

[2015-11-15 02:37] meeshmon commented on #1008
@horak @rchen152 "koko howell" account

[2015-11-15 02:57] horak commented on #1008
@rchen152 do you think you could try investigating if this happens with any of her other accounts and what may be the difference between her accounts?

[2015-11-15 03:01] meeshmon commented on #1008
@jdaKoko Can you try with your other accounts to see if there is a 404 error with your other account
(try to make a new collection, throw a few items in and try going to the collection)?

[2015-11-15 11:17] jdaKoko commented on #1008
@horak @rchen152 @meeshmon
I cannot sign into all of my accounts.  I cleared browsing data and restarted my computer.

[2015-11-15 12:00] jdaKoko commented on #1008
@meeshmon @rchen152 @horak
I was able to sing in Showa Boston account, but not Kim, Koko Howell, JDA,KH accounts.
I do not have the 404 error problem, using Showa Boston account.

[2015-11-15 12:18] jdaKoko commented on #1008
When I changed my Wifi Network to connect the internet, I was able to sign in all of my JDA accounts.
I created new collections in each account, dragged items and opened the newly created collections in each account.
I do not have the 404 error problems in any of them.

[2015-11-15 23:26] horak commented on #1008
Hmmm, so from what I'm getting, this problem is just very inconsistent, that of course makes it a lot more difficult to diagnose. Are there any problems that you have consistently?

[2015-11-15 23:32] jdaKoko commented on #1008
The problems I have are already posted in the GitHub.
I have not heard about this issue.

[2015-11-15 23:34] horak commented on #1008
This problem though you can't consistently replicate though? It comes and goes?

[2015-11-15 23:39] jdaKoko commented on #1008
I never experienced this problem.  I do not know who's issue this was.

[2015-11-16 23:18] rchen152 opened #1024 "Investigate and fix dev server issues"
We're frequently running into dev server problems when trying to troubleshoot bugs.

[2015-11-17 11:00] jdaKoko opened #1025 "Category Document:Cannot add translations on pop-ups"
http://jdarchive.org/en/search#media_type=Document&sort=relevant&
I cannot add translation to pop-ups of the category document.
Other categories are fine.
The document pop-ups show text field, but others do not show except testimonials and news articles.

![screen shot 2015-11-17 at 5 52 29 am](https://cloud.githubusercontent.com/assets/8831502/11209627/4b9e1678-8cf0-11e5-84bf-d1695b1eef4e.png)

[2015-11-17 18:46] spacemansteve commented on #1015
When there are few search results, displaying a heatmap doesn't convey useful information.  Instead, it is better to just render each item/Solr document.  This is not based on zoom level.  Whenever query filters or low data density causes the number of items to drop below 100, we draw a small red circle for each document.

![jdaheatmaprenderdocuments2](https://cloud.githubusercontent.com/assets/95

[2015-11-18 18:23] jdaKoko opened #1026 "Admin Edit Page Tag: a tag disappears when a new tag is added."
When I added a new tag in the admin edit page, a existed tag disappears.  It seems I cannot add tags more than 4 tags in the edit page.
![screen shot 2015-11-18 at 1 15 53 pm](https://cloud.githubusercontent.com/assets/8831502/11249799/1044f012-8df7-11e5-9b11-86a0b1c9f384.png)

[2015-11-22 22:46] horak commented on #1008
Unfortunately apparently a lot of Tohoku university students and Sebastian had this happen. I really want to get to bottom of it since it seemed to have been a major reason for them having usability issues with the archive this past semester.

[2015-11-22 22:47] horak commented on #1008
Can all the @Japan-Digital-Archives/programmers should try this to see if they can replicate?

[2015-11-22 22:48] horak commented on #1024
Can you expound a bit? I think it might be more effective to post specific bugs that can be addressed.

[2015-11-22 22:49] horak commented on #1015
Great! can this be closed then?

[2015-11-23 08:56] rchen152 commented on #1024
We created this issue during the tech meeting as a place we can list dev server issues so that they'll all be in one place.

[2015-11-28 03:24] meeshmon opened #1027 "Import Asahi JW Octorber 2015 data"
@horak Please make sure you do this by the end of Nov.

[2015-12-01 13:17] jdaKoko opened #1028 "Collection:: A newly made collection disappeared from my collection box."
http://jdarchive.org/en/collection/2003109 does not appear in the Showa Boston Interns' collection box.

![screen shot 2015-12-01 at 7 54 20 am](https://cloud.githubusercontent.com/assets/8831502/11501458/4fa39a6e-9802-11e5-9c8d-f636e698fc88.png)
![screen shot 2015-12-01 at 8 14 49 am](https://cloud.githubusercontent.com/assets/8831502/11501665/ed50bbba-9803-11e5-886c-f70fd016f329.png)

[2015-12-01 15:47] spacemansteve commented on #1016
location and size adjusted, available for testing at http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-12-01 15:47] #1016 closed

[2015-12-01 15:48] spacemansteve commented on #1015
detail view has been received well, it is available for testing at http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-12-01 15:48] #1015 closed

[2015-12-01 15:49] spacemansteve commented on #1014
new colors available for testing at http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-12-01 15:49] #1014 closed

[2015-12-01 15:49] spacemansteve commented on #1013
available for testing at http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-12-01 15:49] #1013 closed

[2015-12-01 15:50] spacemansteve commented on #1011
available for testing at http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-12-01 15:50] #1011 closed

[2015-12-01 15:50] spacemansteve commented on #1010
available for testing at http://dev.jdarchive.org/heatmap/web/en/search#view_type=event&

[2015-12-01 15:50] #1010 closed

[2015-12-03 19:33] horak commented on #1027
completed

[2015-12-03 19:33] #1027 closed

[2015-12-03 22:02] spacemansteve opened #1029 "Heatmap: add tool tip showing number of items under mouse"

[2015-12-03 22:04] spacemansteve commented on #1029
code for mouse events is in /var/www/spacemansteve/web/js/app/views/jda.view.event-map.js
I need to remember the heatmap array from the last search and pull the count out.

[2015-12-03 23:03] spacemansteve commented on #1029
I tried to build on  OpenLayers.Control.MousePosition, but that doesn't use a tooltip.  Instead it display data in a separate div that is off the map.

[2015-12-04 18:17] spacemansteve commented on #1029
The heatmap detail view displays small red dots at the exact coordinates of items.  The tooltip does not work well with this display.  The tool tip displays displays data for the heatmap cell.  The red dots are much smaller than the heatmap cell.  When the mouse pointer enters a cell with a red dot, the mouse pointer can be dozens of pixels from the dot.  This is confusing since the pointer is not

[2015-12-18 18:56] jdaKoko opened #1030 "Please re-index: published items are not appearing in the JDA site."
Please reindex.  Newly published items are not appearing in the JDA site.

[2015-12-21 19:44] spacemansteve opened #1031 "Heatmap: dateline error"
When the international dateline is on the map, the heatmap doesn't update.

[2015-12-22 00:38] rchen152 commented on #781
There's a slightly more useful error message under Tags on the item page:
http://jdarchive.org/en/item/1698102
Seems to be this issue:
http://stackoverflow.com/questions/18280888/symfony2-arraycollection-doesnt-get-persisted
but I can't figure out how to debug because I don't know how to interact with the database for my dev instance.
Relevant file: https://github.com/Japan-Digital-Archives/Japan-

[2015-12-23 21:42] meeshmon commented on #1030
@horak can you quickly take care of this when you have a chance?

[2015-12-25 20:25] horak commented on #1030
Sorry reindexed, which items are you referring to?

[2015-12-25 20:57] meeshmon commented on #1030
Now nothing is showing up on the site. @jdaKoko can you tell Alex which items were missing?

[2015-12-25 22:23] jdaKoko commented on #1030
@horak @meeshmon
Nothing is showing up now.  Previously,http://jdarchive.org/ja/user/1was not updating.

[2015-12-26 02:06] meeshmon commented on #1030
It's fixed now.

[2015-12-26 13:06] jdaKoko commented on #1030
@horak @meeshmon
Tak,
Danke
Happy Holidays!

[2015-12-27 23:00] jdaKoko opened #1033 "Yahoo images are disappeared from the admin page"
@meeshmon @horak
Yahoo items (images) are disappeared from the admin page.
There should be 40,044 items, but now the JDA site only shows 19,284.
I am assuming id 2~ id 20760 are deleted from the admin page.
Yahoo user id 3
Yahoo page is http://jdarchive.org/ja/user/3
Corinne fixed the similar problem before.

[2015-12-27 23:41] meeshmon commented on #1033
@horak Looks like this problem can be fixed with re-indexing Solr once again.

[2015-12-28 03:29] jdaKoko commented on #1033
@meeshmon @horak
I do not think she fixed this problem with re-indexing.

The email below is a part of an email she sent Ryo and me in September 2014, when Yahoo images went missing.
I do not understand how she fixed the Yahoo image problem.
She maybe reimported the missing Yahoo data to the admin page.

---

I sent an email earlier giving details about what I'm doing with the Yahoo stuff - unfort

[2015-12-28 04:14] meeshmon commented on #1033
My suggestion was meant to test the easiest possible solution prior to make this to a larger issue that we do not want to face. This is the part Corinne fixed by restoring a backup version of Amazon database. So I would suggest go with reindexing and if there is no improvement then try to restore the most recent backup, assuming the most recent backup is done in the beginning of this month.

[2015-12-28 18:35] jcuanm commented on #873
@horak
Hey Alex,
Still trying to access the admin dashboard. I sent you my SSH keys so you can add them to the production site and grant me access to the directories that I need to make the changes.
Thank you.

[2016-01-05 18:43] #1030 closed

[2016-01-05 19:10] horak commented on #873
^ granted!

[2016-01-06 03:04] #1007 closed

[2016-01-06 03:05] horak opened #1034 "December Asahi import"

[2016-01-06 03:05] #1034 closed

[2016-01-06 03:05] horak opened #1035 "January Asahi import"

[2016-01-11 19:34] spacemansteve opened #1036 "Heatmap: improve performance"
Currently, the heatmap code renders every response from Solr.  However it is possible for the user to generate a second Solr request before the first one has been received.  This is easily done by quickly clicking the zoom in or zoom out button multiple times.  Since each Solr response is rendered, the UI slows down.  The UI should not render the stale Solr responses that are received after a new

[2016-01-11 19:39] spacemansteve opened #1037 "Heatmap: background color bleed"
Under some conditions, there is a background color to the heatmap.

[2016-01-15 06:22] jcuanm commented on #873
@horak
I tried to access the production site with ssh but it still asks me for a password. I was not able to log in. It says "Access Denied". I did not set a password on my ssh keys.

[2016-01-17 19:40] horak commented on #873
I just did this for steve and everything worked. Can you make sure the public ssh key you gave me lines up with the one you have stored locally on machine? Where did you pull your public ssh key from?

[2016-01-18 02:03] jdaKoko opened #1038 "Collection:: I cannot make a new collection."
I made a new collection, and  when I opened the collection, I got a message-- Oops! An Error Occurred
The server returned a "404 Not Found" Something is broken. Please e-mail us at info@jdarchive.org and let us know what you were doing when this error occurred. We will fix it as soon as possible. Sorry for any inconvenience caused.

And  newly made collection id does not show up on the admin dash.

[2016-01-18 02:06] jdaKoko opened #1039 "Submission problem: Submitted seeds do not show up on the admin page."
Submitted seeds do not show up on the admin page.

[2016-01-18 20:26] horak commented on #1033
Ok, everything should be backup. Took me a while though and was a messy process. I'd like to document the process for posterity, i'll create an issue for that.

![yahoo](https://cloud.githubusercontent.com/assets/1111424/12401938/c44237fc-bdf7-11e5-9fc0-20dc94cc5535.png)

[2016-01-18 20:26] #1033 closed

[2016-01-18 20:29] horak opened #1040 "Document yahoo missing items restoration process"

[2016-01-18 20:32] horak commented on #1038
Can you add things now?

[2016-01-18 20:42] #995 closed

[2016-01-19 13:00] meeshmon opened #1041 "IE issue with connection to Waku?"
User has an issue with navigating from a collection page to waku. Possibly an issue with compatibility with IE. The user was using IE 11.
Please test this with IE 11 and see if you can replicate the issue.

1. collection page (logged in)

![picture1](https://cloud.githubusercontent.com/assets/8205299/12419147/8865e82c-bef7-11e5-84df-dca2004d75d9.jpg)

2. on click the waku icon, a new window opens

[2016-01-20 02:03] meeshmon commented on #1041
@jessyurko does waku supports IE? People in Japan are having issue accessing waku.

[2016-01-20 07:35] meeshmon commented on #1041
Uer ID 639 cannot save waku with IE 11

![picture1](https://cloud.githubusercontent.com/assets/8205299/12442426/36901594-bf93-11e5-94f6-6f63ea125c35.jpg)
![picture2](https://cloud.githubusercontent.com/assets/8205299/12442432/41c27eac-bf93-11e5-8931-c47fa2e3433c.jpg)

[2016-01-21 17:38] jdaKoko commented on #989
@jcuanm @meeshmon @horak If someone could fix this problem soon, I would appreciate it very much. I have been waiting a long time for this problem to be solved.

[2016-01-22 18:23] horak commented on #1039
should be fixed now.

[2016-01-22 18:23] #1039 closed

[2016-01-22 18:24] horak commented on #1038
reported fixed.

[2016-01-22 18:24] #1038 closed

[2016-01-22 18:25] horak opened #1042 "3.11 memory missing import"
Owing to my yahoo image restoration process, these didn't make it in for sunday the 17th.

[2016-01-22 18:33] horak commented on #1042
I took a look at our scripts and they grab the past weeks data from the 3.11 memories source. This means that the January 17th upload actually made it in on the next day. A look at the database confirms this!

[2016-01-22 18:33] #1042 closed

[2016-01-22 20:11] jdaKoko commented on #1038
Thank you!

[2016-01-22 20:11] jdaKoko commented on #1039
Thank you!

[2016-01-23 02:01] horak commented on #989
Should be fixed, let me know if it isn't! @jdaKoko

[2016-01-23 02:10] jdaKoko commented on #989
@horak I do not see all of my collections in my Kim account yet.
The original request was below. Please see the top of #989.

I have 143 collections under user name Kim, http://jdarchive.org/ja/user/421. My collection box only shows 114 collections. I cannot open between id913885~913915. Therefore, I cannot add new items to those collections.
If there is a limit to the number of collections each u

[2016-01-23 02:43] horak commented on #989
I may have posted that request a bit too soon, can you try again now?

[2016-01-23 04:31] jdaKoko commented on #989
I am sorry, neither the Kim account nor the Koko Howell account shows all collections yet.

[2016-01-23 04:44] horak commented on #989
Hmm, that's very strange. I was able to resolve this for my own account. Are you seeing more collections than you did previously?

[2016-01-23 16:19] jdaKoko commented on #989
No, I am not seeing more collections than previously. Let me clarify the issues I am having. I have made quite a few collections under two different user names. One problem is that I cannot see all of my collections for either user name (I explain the details below) in either "my collection box" or the "collection field" in the bookmarklet. The other problem is that, once a particular collection h

[2016-01-24 20:28] horak commented on #989
Thanks for that extended description. I did in fact expand the number of items that display within users' "collection-box"es. I'm going to approach the collection-box issue on the main JDA site first, then i'll get to the bookmarklet (which I'm less familiar with).

The account age may be the problem, since my account if far newer. Also, there was a strict cutoff with my account, exactly at 100, w

[2016-01-24 21:41] horak opened #1044 "Collection-box missing items in bookmarklet"

[2016-01-25 02:44] horak commented on #1028
Is this still a problem @jdaKoko?

[2016-01-25 02:44] horak commented on #989
This seems to be resolved.

[2016-01-25 02:44] #989 closed

[2016-01-25 02:54] jdaKoko commented on #989
Thank you!

[2016-01-26 04:59] meeshmon opened #1045 "A bug in the collection window (replicate and locate the bug)"
There is a bug on the collection window that appears when a browser's go back button is used. Once this bug occurs, a user can no longer add any item to her collection.

This is how the collection box should look like and can add items.
![1](https://cloud.githubusercontent.com/assets/8205299/12572805/e6fc82f8-c3be-11e5-9287-be473f321e4b.jpg)

Once you go to a collection page (logged in) and come b

[2016-02-03 23:45] rchen152 commented on #1021
Fixed with https://github.com/Japan-Digital-Archives/Japan-Digital-Archive/pull/1032

[2016-02-03 23:45] #1021 closed

[2016-02-07 14:29] jdaKoko opened #1046 "Please add names to the team page"
@jcuanm @horak @meeshmon
 The same request as  #956
Please add two names to the JDA team pages

To http://jdarchive.org/en/team
Content Development
Web Seed Curation: Mao Kuroda,  Showa Boston Institute for Language and Culture
Web Seed Curation: Rie Suzaki, Showa Boston Institute for Language and Culture

To http://jdarchive.org/ja/team
コンテンツ開発
ウェブシード　キュレーション：Mao Kuroda（昭和ボストン　黒田真央）
ウェブシード　キュレーショ

[2016-02-07 14:59] jcuanm commented on #1046
I can take care of this.
On Feb 7, 2016 9:29 AM, "jdaKoko" notifications@github.com wrote:

[2016-02-08 05:34] jcuanm commented on #1046
@horak the merge is ready to be made

[2016-02-08 20:03] horak commented on #1021
:+1:

[2016-02-08 20:05] horak commented on #1046
@jcuanm, I'm not seeing the PR anywhere?

[2016-02-08 20:06] #1035 closed

[2016-02-08 20:06] horak commented on #1028
bump @jdaKoko

[2016-02-08 21:20] jdaKoko commented on #1028
@horak
I just edited the title of the collection from the page http://jdarchive.org/en/collection/2003109. Now I can see the collection title, below collection 228.  Thanks.
http://jdarchive.org/en/collection/2003109
![screen shot 2016-02-08 at 4 18 37 pm](https://cloud.githubusercontent.com/assets/8831502/12899540/be0f7dc0-ce7f-11e5-987f-e965c6438181.png)

[2016-02-08 22:31] jcuanm commented on #1046
Sorry about that! Just made the PR.

[2016-02-09 00:15] horak commented on #1028
:+1:

[2016-02-09 00:15] #1028 closed

[2016-02-09 20:41] rchen152 commented on #1024
No longer necessary - we're using a label to mark dev server-related issues.

[2016-02-09 20:41] #1024 closed

[2016-02-10 15:19] #1046 closed

[2016-02-13 01:15] jcuanm opened #1048 "Testing Heatmaps IE"
This issue is meant to record any comments towards the testing of the heat maps on Internet Explorer.

[2016-02-15 18:14] jdaKoko opened #1049 "Pop-up page: Link to item page request"
Please add hyperlink under the Link box so that users can access the website's live link from the item page.
![screen shot 2016-02-15 at 1 07 59 pm](https://cloud.githubusercontent.com/assets/8831502/13056815/c5cb7c1a-d3e5-11e5-85b8-7cd54ae94bda.png)
![screen shot 2016-02-15 at 1 08 27 pm](https://cloud.githubusercontent.com/assets/8831502/13056816/c70449b8-d3e5-11e5-8c52-6fe5da7e22ec.png)

[2016-02-16 17:32] spacemansteve commented on #1045
When an item is dragged to a collection, code in web/js/app/views/items/jda.view.item.list.js is called.  Specifically, draggable items get a start function is added to DOM element.  When the dragged item is released, code is web/js/app/views/collections/jda.view.collection.my-collections-drawer.js is run.  Specifically, DOM elements with #zeega-my-collections-items have a drop function.  This dro

[2016-02-17 16:00] spacemansteve opened #1050 "Heatmap: prepare for production deployment"
Solr heatmap url must not be hardcoded.  There may be other changes required.

[2016-02-22 04:36] jcuanm commented on #1022
@jdaKoko
I made changes to the Bookmarklet. As soon as @horak performs the pull request, please test that 'None' does not show anymore.

[2016-02-22 18:56] jcuanm commented on #1022
@jdaKoko
I will close this issue for now.

[2016-02-22 18:56] #1022 closed

[2016-02-23 20:17] meeshmon opened #1052 "bookmarklets redirect to new page when prompted to login"

[2016-02-23 20:45] rchen152 opened #1054 "Remove map from fancybox and change link to open on click"

[2016-02-26 12:18] jdaKoko commented on #1022
@jcuanm @meeshmon
I still do not see any change in the bookmarklet when I click Add to JDA on the toolbar.
When I just click "Add to JDA" in the  http://jdarchive.org/en/bookmarklet/ page, it does not show "none".

There is a new problem.  The bookmarklet does not  connect to the collection, so that the users cannot make any collections.  My daughter and other volunteer could not access to the col

[2016-02-26 12:20] jdaKoko opened #1055 "Bookmarklet:: do connect to the collection lists"
@jcuanm @meeshmon

The bookmarklet does not connect to the collection lists.

![screen shot 2016-02-26 at 7 09 05 am](https://cloud.githubusercontent.com/assets/8831502/13352117/3d4f5600-dc59-11e5-88d9-496c5dd25076.png)
![screen shot 2016-02-26 at 7 09 27 am](https://cloud.githubusercontent.com/assets/8831502/13352118/3e916954-dc59-11e5-98c1-c9f62049bff2.png)

[2016-02-26 17:54] meeshmon commented on #1022
@horak still has not merged the fix Javier made, so this issue might be solved once it happens. The new issue I will have @jcuanm investigate.

[2016-03-02 06:12] meeshmon opened #1056 "Import Asahi JW February"
@horak please take care of this when you can

[2016-03-02 06:29] meeshmon opened #1057 "Please post the Request for Proposal on the JDA website"
@horak @jcuanm @rchen152
I would like to ask one of you to take care of this task ASAP.
I have a pdf document of the Request for Proposal (RFP) to recruit potential developers that might be interested in helping the JDA to change/improve its current platform.
I would like you to post the RFP by March 4th if possible by creating a new category "Project RFP" under "About" pull-down menu in the landi

[2016-03-02 20:24] jcuanm commented on #1057
I can take care of this. Do you want the "Project RFP" link to immediately download the pdf upon clicking, or do you want it to redirect the user to another page where they will click a link to download the pdf?

[2016-03-02 20:29] meeshmon commented on #1057
Thanks @jcuanm. Ideally I want to redirect the user to another page, but if it is hard, then you can take the click to download route.

[2016-03-04 22:35] horak commented on #1022
Sorry about the delay guys, @jcuanm I just posted a question in your pull request, can you take a look when you get a chance?

[2016-03-04 23:57] #1056 closed

[2016-03-05 02:37] jcuanm commented on #1057
I can't seem to figure out how to link to another file in twig. Is there some documentation on how to do this? Regular html doesn't seem to be working within a twig template.

[2016-03-05 02:45] meeshmon commented on #1057
@horak Do you know something?

[2016-03-05 02:47] jcuanm commented on #1057
The main problem I am having is that it doesn't recognize the path that I give it. I tried getting it to link me to facebook.com as a test, but it didn't recognize that either. Do we have to add our links somewhere else?

[2016-03-05 16:34] horak commented on #1057
Looks like you'll want to use `url` as opposed to `path`, as the later will only yield a relative link!

http://stackoverflow.com/questions/20393487/the-different-between-url-and-path-in-symfony2-3

[2016-03-05 17:28] horak commented on #1057
Let me know if you that works!

[2016-03-09 00:14] horak commented on #1057
Ok it's up!

[2016-03-09 00:14] #1057 closed

[2016-03-09 13:39] horak opened #1060 "Documentation for Kahoku upload"

[2016-03-09 23:43] jdaKoko opened #1062 "Yahoo images:: id 2-18901 are missing"
@meeshmon @horak
Yahoo images id 2-18901, total 18900 items are missing from the JDA site and the admin page.

[2016-03-10 00:48] meeshmon commented on #1062
Alex is aware of this and will work on it.

[2016-03-10 04:59] horak commented on #1062
Yup, sorry Koko, will get these back up

[2016-03-10 05:01] #1054 closed

[2016-03-13 04:41] meeshmon opened #1063 "Add Kahoku Shimpo to our partner page"
We have started ingesting items from Kahoku Shimpo (ID 656).
Now I would like to add Kahoku Shimpo's description to the partner page (above Watanave, which still needs some writing).
Please add below texts (both Japanese English) under the name
**Kahoku Shimpo Disaster Archive**

河北新報は１８９７年、不羈独立と東北振興を社是として創刊しました。東北地方はたび重なる地震、津波被害を被りながらも、農林水産業を中心に日本の産業を支えてきました。２０１１年３月１１日に発生した東日本大震災は、わたしたちのふるさと東北に、甚

[2016-03-13 14:17] meeshmon commented on #1063
@jcuanm This should be done by March 16th. If you cannot do so, I will ask others.

[2016-03-13 19:50] jcuanm commented on #1063
I will start working on this. It should be finished by the 16th.

On Sun, Mar 13, 2016 at 10:17 AM, meeshmon notifications@github.com wrote:

##

Javier Cuan

[2016-03-14 01:50] jcuanm commented on #1063
@meeshmon the SolrMap parameters are preventing me from accessing my dev server. I have already addressed this with Steve. Depending on when he gets back to me, I do not know if I'll be able to get this done on time.

[2016-03-14 03:59] horak opened #1064 "Geocode archive"
This is a big project but I wrote some code to geocode location data that I could try to optimize and run our, I think 900k, non-geocoded items through.

[2016-03-14 09:25] meeshmon commented on #1063
@jcuanm Hope you were able to fix the issue after Steve's email. If not can you ask Rebecca to do it instead?

[2016-03-14 13:27] spacemansteve opened #1065 "Map Search Results Incorrect"
When using a text filter, the search results on the map do not match the search results in the list view.  Typically, items in the list view do not appear on the map.
Excellent examples from Andrew and this one from Ryo:
Try this link for example. http://jdarchive.org/en/search#view_type=list&q=陸前高田&media_type=Image&sort=relevant&
But when you switch to the heatmap mode then the result yield to 0.

[2016-03-14 18:04] rchen152 commented on #1063
@meeshmon @jcuanm @jdaKoko I updated the partners page
Before I create a pull request, could you double-check that everything looks okay?  Kahoku Shimpo Disaster Archive is below Internet Archive and above metaLAB (at) Harvard.
http://dev.jdarchive.org/rebecca/web/en/partners
In particular, I'm wondering whether the title on the Japanese page should be Kahoku Shimpo in English or if it should be 河

[2016-03-14 18:51] meeshmon commented on #1063
@rchen152 thanks! Yes please put the Japanese name for the Japanese page.
Otherwise looks good. Thanks

[2016-03-15 12:12] spacemansteve opened #1068 "Adjust Map Time Slider"
Search result on the list page do not match search results on the map.  On the map page, the time slider at the top of the screen begins at December 31, 2010 and ends at the current date.  If you don't adjust the date slider, the map code includes the beginning and ending dates and filters out items not within the window.  On the list search page, there is no time slider.  So, items before 12/31/2

[2016-03-15 12:12] spacemansteve commented on #1068
At least hundreds of items do not have a value for media_date_created.  At least several have probably wrong dates, saying they are from the years 12, 201, 213 and 1116.

[2016-03-15 15:44] #1063 closed

[2016-03-15 15:49] horak commented on #1063
Live!

[2016-03-15 22:38] meeshmon commented on #1063
Thank you all!

[2016-03-20 05:03] jdaKoko opened #1070 "item page::id707998 & id707997 item pages result in blank"
http://jdarchive.org/en/item/707998
http://jdarchive.org/en/item/707997

[2016-03-24 19:01] horak commented on #1070
I'll take a look!

[2016-03-25 06:52] jdaKoko commented on #1070
The urls
http://jdarchive.org/en/item/889151
http://jdarchive.org/en/item/712909
http://jdarchive.org/en/item/2026160
http://jdarchive.org/en/item/707261
http://jdarchive.org/en/item/2026987
http://jdarchive.org/en/item/887261
http://jdarchive.org/en/item/887262
http://jdarchive.org/en/item/887263
http://jdarchive.org/en/item/887264
http://jdarchive.org/en/item/887265
http://jdarchive.org/en/item/

[2016-03-27 03:55] jdaKoko opened #1071 "Search problem:: id 1828597 does not appear in search"
http://jdarchive.org/admin/zeega/data/item/1828597/edit
キッズドア被災者支援サイト – KIDS DOOR 復興 NET – 研修会　教員採用試験必勝講座（全５回）〜本気で教採に取り組む人のために〜 [pdf]

[2016-03-28 13:31] horak commented on #1071
Strange, this item doesn't seem to have a published attribute? Is that something you've seen before?

[2016-03-28 13:34] jdaKoko commented on #1071
Sometimes reindex solves the problem.

[2016-03-29 19:31] #1049 closed

[2016-03-31 02:47] horak commented on #1071
Thanks Koko, we just had a tech meeting and discussed prioritizing these problems. Here's a quick short list of the plan!
1. reindex
2. fix #1062, the missing Yahoo items
3. @spacemansteve will check if some of these items may have been lost in the heatmap transition period

[2016-04-06 03:00] meeshmon opened #1072 "Import Asahi JW March"
@horak could you check to see if Asahi has its March data?
If not, please let me know, I will contact them.
It is April now, and they mentioned about changing their policy on April 1st.

[2016-04-06 04:12] horak commented on #1072
Looks like they still uploaded it, I backed it up and will handle the upload next week.

[2016-04-06 04:56] meeshmon commented on #1072
Thanks Alex. I will email Ashahi later in this month to find out what we need to do after this last batch.

[2016-04-06 06:28] jdaKoko opened #1073 "Search::http://www.visionshare.jp/ items are not appearing in the serach"
Most of domain http://www.visionshare.jp/ items are not showing up in the search.
I just edited the titles, and added new tags in them and search with newly added tags are not working, either.

![screen shot 2016-04-06 at 2 16 49 am](https://cloud.githubusercontent.com/assets/8831502/14307565/214b1cf0-fb9e-11e5-9821-f1ae081cfeea.png)

[2016-04-06 13:24] jdaKoko opened #1074 "tags:: newly added tags from admin page do not appear on pop-ups"
I have been adding tags from admin edit pages, but they do not appear on the pop-ups.
for examples:
http://jdarchive.org/admin/zeega/data/item/891255/edit
I added 大町病院 in the tag field 7. It does not appear on the pop-up
![screen shot 2016-04-06 at 9 21 38 am](https://cloud.githubusercontent.com/assets/8831502/14318092/4a2120f8-fbd9-11e5-89bb-bff10548051c.png)
![screen shot 2016-04-06 at 9 22 49 a

[2016-04-06 15:13] horak commented on #1071
Ok, I've just re-indexed. Can you see if that made a difference @jdaKoko?